$mainFont:  'Mulish', sans-serif;
$songer: 'SONGER SemiExpanded', sans-serif;
/*$inter:"Inter", sans-serif;
$sfui: "SF UI Display", sans-serif;
$muller-font: "Muller", sans-serif;
$montserrat: "Montserrat", sans-serif;*/


/* media */
$media-list: (
    'xs': 480,
    'sm': 640,
    'md': 960,
    'lg': 1200,
);
