$mainFont:  'Mulish', sans-serif;
$inter:"Inter", sans-serif;
$songer: 'SONGER SemiExpanded', sans-serif;
$sfui: "SF UI Display", sans-serif;
$muller-font: "Muller", sans-serif;
$montserrat: "Montserrat", sans-serif;
