.site-header {
	background: #2A2C37;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	color: #fff;
	padding: 24px 0;

	@include max(lg) {
		padding: 14px 0 13px;
	}
}

.sh-placeholder {
	min-height: 88px;
	display: block;
	width: 100%;

	@include max(lg) {
		min-height: 57px;
	}
}

.container.sh-container {
	@include max(lg) {
		width: 100%;
		max-width: 100%;
		padding-left: 40px;
		padding-right: 12px;
		margin: 0;
	}


}

.sh-left-icon {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: auto;

	img {
		height: 100%;
		width: auto;
	}
}

.sh-container {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;

	&__left {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}

	&__right {
		display: flex;
		align-items: center;
	}
}


.sh-logo {
	display: block;
	width: 178px;
	@include hov();

	@include max(lg) {
		width: 104px;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.sh-menu {
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.02em;
	margin-left: 80px;
	margin-right: 24px;

	@include max(lg) {
		display: none;
	}
}

.sh-menu-list {
	display: flex;
	list-style: none;
}

.sh-menu-item {
	&__link {
		font: inherit;
		color: #fff;
		@include hov();
	}

	&+.sh-menu-item {
		margin-left: 41px;
	}

}

.sh-mega-menu-trigger {
	padding: 0 8px;
	display: block;
	@include hov();

	@include max(lg) {
		display: none;
	}

	img,
	svg {
		width: 32px;
		height: 32px;
	}
}

.sh-burger {
	position: relative;
	//display: none;
	width: 24px;
	height: 14px;
	cursor: pointer;
	transition-duration: .2s;
	cursor: pointer;

	&::before {
		content: '';
		display: block;
		left: -10px;
		top: -15px;
		right: -10px;
		bottom: -15px;
		position: absolute;
	}

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 1px;
		margin-left: -12px;
		margin-top: -1px;
		background: #fff;
		transition: 0.2s;
		transform-origin: left center;

	}


	span:nth-child(1) {
		transform: translateY(-6px);
	}

	span:nth-child(2) {
		transform: scaleX(0.7);
	}

	span:nth-child(3) {
		transform: translateY(6px) scaleX(0.5);
	}

	&--active {

		span {
			transform-origin: center center;
		}

		span {
			&:nth-child(1) {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				transform: rotate(-45deg);
			}

			&:nth-child(3) {
				opacity: 0;
			}
		}
	}
}

.sh-mob-menu-trigger {
	margin-left: 24px;

	@include min(lg) {
		display: none;
	}
}

.sh-phone {
	margin-right: 24px;
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #fff;
	@include hov();

	@include max(sm) {
		display: none;
	}

}

.sh-buttons {
	display: flex;
	transition-duration: .3s;
}

.sh-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	@include hov();

	@include max(lg) {
		width: 30px;
		height: 30px;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		svg,
		img {
			width: 20px;
			height: 20px;
			fill: #fff;
			stroke: #fff;

			@include max(lg) {
				width: 15px;
				height: 15px;
			}
		}

		&-mob {
			@include min(lg) {
				display: none;
			}
		}

		&-desktop {

			@include max(lg) {
				display: none;
			}
		}
	}

	&__counter {
		position: absolute;
		left: 24px;
		top: 0;
		border-radius: 100px;
		padding: 0 5px 0 4px;
		min-width: 16px;
		height: 16px;
		background: #ff4d4d;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-weight: 600;
		font-size: 10px;
		letter-spacing: -0.04em;
		color: #fff;

		//font-family: $inter;
		@include max(lg) {
			left: 18px;
			height: 12px;
			min-width: 12px;
			padding: 0 3px 0 2px
		}
	}

	&+.sh-button {
		margin-left: 16px;

		@include max(lg) {
			margin-left: 12px;
		}
	}
}

.mega-menu-wrap {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #2a2c37;
	opacity: 0;
	pointer-events: none;
	transition-duration: .3s;

	&--active {
		opacity: 1;
		pointer-events: all;
	}

	@include max(lg) {
		display: none;
	}
}

.mega-menu {
	display: flex;
	width: 1340px;
	flex-wrap: wrap;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #fff;
	padding: 32px 0;

	&__col {


		&+.mega-menu__col {
			border-left: 1px solid rgba(255, 255, 255, 0.25);
		}

		&:nth-child(1) {
			width: 260px;
		}

		&:not(:nth-child(1)) {
			padding-left: 39px;
			width: calc((100% - 260px) / 3);
		}

	}


	&__col-title {
		color: #fff;
		opacity: 0.5;
	}
}

.mega-menu-list {
	list-style: none;
	margin-top: 36px;

	&__item {
		&+.mega-menu-list__item {
			margin-top: 15px;
		}
	}

	&__link {
		color: #fff;
		@include hov();
	}
}



.body-mob-menu-opened {
	.sh-buttons {
		opacity: 0;
		pointer-events: none;
	}

	.mob-menu-block {

		opacity: 1;
		pointer-events: all;
	}
}


.mob-menu-block {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	background: #2A2C37;
	z-index: 90;
	color: #fff;
	max-height: 100%;
	overflow-y: auto;
	padding-bottom: 40px;

	opacity: 0;
	pointer-events: none;
	&__part {
		padding: 24px 16px;
		border-top: 1px solid rgba(255, 255, 255, 0.25);
	}
}


.mob-menu {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #fff;

	&__item {
		display: block;
		padding: 4px 0;

		&+.mob-menu__item {
			margin-top: 12px;
		}

		&:hover {}

		&:active {}

		&:focus {}
	}

	&--large {
		font-weight: 600;
		font-size: 18px;
	}
}

.mob-menu-phone {
	display: flex;
	align-items: center;
	&__icon {
		margin-right: 10px;
	}

	&__text {
		font-weight: 600;
		font-size: 22px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
	}

}