header.site-header
	.sh-left-icon
		img(src="img/header-left-icon.png", alt="")
	.sh-container.container
		.sh-container__left
			a.sh-logo(href="")
				img(src="img/header-logo.svg", alt="logo")
			nav.sh-menu
				ul.sh-menu-list
					li.sh-menu-item
						a.sh-menu-item__link(href="") Квартиры
					li.sh-menu-item
						a.sh-menu-item__link(href="") Объекты
					li.sh-menu-item
						a.sh-menu-item__link(href="") Ипотека
					li.sh-menu-item
						a.sh-menu-item__link(href="") О компании
			.sh-mega-menu-trigger.js-mega-menu-trigger
				img(src="img/svg/sh-mega-trigger.svg")
		.sh-container__right
			a.sh-phone(href="") +7 900 00 01 02
			.sh-buttons
				a.sh-button(href="")
					.sh-button__icon
						svg
							use(xlink:href="img/sprites/sprite.svg#sh-heart")
					.sh-button__counter 1
				a.sh-button(href="")
					.sh-button__icon
						svg
							use(xlink:href="img/sprites/sprite.svg#sh-phone")

	.mega-menu-wrap
		.container
			.mega-menu
				.mega-menu__col
					.mega-menu__col-title Все объекты
					ul.mega-menu-list
						li.mega-menu-list__item
							a.mega-menu-list__link(href="") ЖК «Эстет»

				.mega-menu__col
					.mega-menu__col-title Квартиры
					ul.mega-menu-list
						li.mega-menu-list__item
							a.mega-menu-list__link(href="")  Студии
						li.mega-menu-list__item
							a.mega-menu-list__link(href="")  1-комнатные квартиры
						li.mega-menu-list__item
							a.mega-menu-list__link(href="")  2-комнатные квартиры
						li.mega-menu-list__item
							a.mega-menu-list__link(href="")  3-комнатные квартиры

				.mega-menu__col
					.mega-menu__col-title Покупка
					ul.mega-menu-list
						li.mega-menu-list__item
							a.mega-menu-list__link(href="")  Способы покупки
						li.mega-menu-list__item
							a.mega-menu-list__link(href="")  Ипотека

				.mega-menu__col
					.mega-menu__col-title Еще
					ul.mega-menu-list
						li.mega-menu-list__item
							a.mega-menu-list__link(href="") Контакты
						li.mega-menu-list__item
							a.mega-menu-list__link(href="") Новости и Акции
						li.mega-menu-list__item
							a.mega-menu-list__link(href="") Коммерческая недвижимость
						li.mega-menu-list__item
							a.mega-menu-list__link(href="") Разрешительная документация

.sh-placeholder