noindex
	div(style="display:none;")
		.simple-modal#call-me-modal
			.simple-modal__inner
				.simple-modal__content
					.simple-modal__title Заказать обратный звонок
					.simple-modal__form
						.simple-modal__inputs
							.simple-modal__input
								input.simple-input(type="text", name="" placeholder="Ваше имя")
							.simple-modal__input
								input.simple-input(type="text", name="" placeholder="Телефон")
							.simple-modal__input
								a.btn.btn--w100(href="")
									span Заказать звонок
						.simple-modal__privacy Нажимая на кнопку, вы принимаете <a href="#">политику конфиденциальности</a> и даете согласие на обработку персональных данных

				.simple-modal__close(data-fancybox-close)
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-close")



		.simple-modal#answer-modal
			.simple-modal__inner
				.simple-modal__content
					.simple-modal__title Задать вопрос
					.simple-modal__form
						.simple-modal__inputs
							.simple-modal__input
								input.simple-input(type="text", name="" placeholder="Ваше имя")
							.simple-modal__input
								input.simple-input(type="text", name="" placeholder="Телефон")
							.simple-modal__input
								textarea.simple-input.js-textarea-autosize(type="text", name="",textarea rows='2', placeholder="Ваш вопрос")
							.simple-modal__input
								a.btn.btn--w100(href="")
									span Задать вопрос
						.simple-modal__privacy Нажимая на кнопку, вы принимаете <a href="#">политику конфиденциальности</a> и даете согласие на обработку персональных данных

				.simple-modal__close(data-fancybox-close)
					svg
						use(xlink:href="img/sprites/sprite.svg#modal-close")

