extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Главная"

block content
	section.not-found
		.container
			.not-found-info
				.not-found-info__text1 Вы попали на пустынный континент…
				.not-found-info__text2 Нужной страницы&nbsp;тут нет
				.not-found-info__btn
					a.btn(href="")
						span Вернуться на главную