extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Project title"

block content
	.container
		ul
			li
				a(href="index.html") Главная
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")

