extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "DevMap"

block content
	section.article
		.container.container--article
			.article-text.article-text-style
				ul
					li
						a(href="index.html") Главная

					li
						a(href="stocks.html") Акции и новости - архив

					li
						a(href="stocks-single.html") Акции и новости - сингл
					li
						a(href="contacts.html") Контакты
					li
						a(href="about.html") О компании
					li
						a(href="404.html") 404
					li
						a(href="mortgage.html") Ипотека

					li
						a(href="projects.html") Наши проекты
					li
						a(href="commerce.html") Коммерция

					li
						a(href="purchase-ways.html") Способы покупки

		.prefooter-padding.prefooter-padding--small-64




