extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Наши проекты"

block content



	section.filters.filters--with-breadcrumbs
		.container.container--sec-filters.container--with-art-on-right
			.breadcrumbs.ktop-section__breadcrumbs
				.breadcrumbs__item
					a(href="") Главная
				.breadcrumbs__item
					span Наши проекты
			h1.section-title.section-title--filters Наши проекты
			.js-filters-row.filters-row.filters-row--hidden
				.filters-row-item
					.filters-row-item__name Проект
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург
								option(value="spb1") Lorem ipsum dolor sit amet consectetur.


				.filters-row-item
					.filters-row-item__name Кол-во комнат
					.filters-row-item__field
						.chb-group.chb-group--fg
							label.chb-item
								input(type="radio" name="rooms_count" value="c")
								.chb-item__pseudo С
							label.chb-item
								input(type="radio" name="rooms_count" value="1")
								.chb-item__pseudo 1
							label.chb-item
								input(type="radio" name="rooms_count" value="2")
								.chb-item__pseudo 2
							label.chb-item
								input(type="radio" name="rooms_count" value="3")
								.chb-item__pseudo 3
				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Стоимость от
						span Стоимость до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="3000000" data-max="9700000" data-suffix=" ₽" data-format="int" data-step="100000" )
							//data-start-left data-start-right
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range

				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Площадь от
						span Площадь до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="24" data-max="124" data-suffix=" м²" data-format="int" data-step="1" )
							//data-start-left data-start-right
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range

				.filters-row-item
					.filters-row-item__name Срок сдачи
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург

				.filters-row-item
					.filters-row-item__name Класс жилья
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург

				.filters-row-item
					.filters-row-item__name Отделка
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург

				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Этаж от
						span Этаж до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="1" data-max="10" data-suffix=" этаж" data-format="int" data-step="1" )
							//data-start-left data-start-right
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range

				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Кухня от
						span Кухня до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="5" data-max="24" data-suffix=" м²" data-format="int" data-step="1" )
							//data-start-left data-start-right
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range


				.filters-row-item
					.filters-row-item__name Технология
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург


			.filters-bottom
				.filters-bottom__left
					.twi-switch.twi-switch--filter-sec.twi-switch--more-filters.js-twi-switch--more-filters
						.twi-switch__icon
							svg
								use(xlink:href="img/sprites/sprite.svg#filters-hide")
						.twi-switch__name
							span Дополнительные фильтры
							span Скрыть дополнительные фильтры
					.twi-switch.twi-switch--filter-sec
						.twi-switch__icon
							svg
								use(xlink:href="img/sprites/sprite.svg#filters-clear")
						.twi-switch__name Сбросить фильтр
				.filters-bottom__right
					a.btn(href="")
						span
							|  Показать
							span.js-filter-result-items-count  146
							|  квартир


		.half-container.half-container--invert.half-container--filters-art
			.filters-art
				//img(src="img/svg/filters-bottom-art.svg", alt="abstract art")

	.blue-sections-bg
		section.our-projects.section-margin.section-margin--64
			.container
				.our-projects-flex
					a.project-card(href="")
						.project-card__pic
							img(src="img/home/project-card-pic.jpg", alt="")
							.card-labels.project-card__labels
								.card-label(style="background: #41b1d9;") В продаже
								.card-label Комфорт +

						.project-card-content
							.project-card-content__top
								.project-card-content__title ЖК Эстет
								.project-card-content__price от 4.3 млн ₽
							.project-card-info-wrap
								.project-card-info
									.project-card-info__name Адрес
									.project-card-info__description г. Краснодар, Адмиралтейский бульвар, 1

								.project-card-info
									.project-card-info__name Сдача
									.project-card-info__description 1 кв. 2025 г.
					.project-card
						.project-card__pic
							img(src="img/home/project-card-placeholder.jpg", alt="")
							.project-card__pic-text СКОРО

						.project-card-content
							.project-card-content__top
								.project-card-content__title ЖК новый
								.project-card-content__price
							.project-card-info-wrap
								.project-card-info
									.project-card-info__name Адрес
									.project-card-info__description г. Краснодар, ул. Новая, 1

								.project-card-info
									.project-card-info__name Сдача
									.project-card-info__description 1 кв. 2027 г.


				.showmore-wrap
					a.btn.btn--dark(href="")
						span Показать еще

		.prefooter-padding