extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "DevMap"

block content

	.page-top.page-top--only-breadcrumbs
		.container.container--page-top.container--with-art-on-right
			.breadcrumbs
				.breadcrumbs__item
					a(href="") Главная
				.breadcrumbs__item
					a(href="")  Акции и новости
				.breadcrumbs__item
					span Выбирай свой паркинг

		.half-container.half-container--invert
			.filters-art

	section.article
		.container.container--article
			.back-btn-wrap
				a.back-btn(href="") Назад
			.article-text.article-text-style
				img(src="img/article-pic.jpg", alt="")
				h1 Выбирай свой паркинг
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Tincidunt id aliquet risus feugiat in ante metus dictum. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Elementum curabitur vitae nunc sed velit dignissim sodales ut. Enim lobortis scelerisque fermentum dui faucibus. Volutpat commodo sed egestas egestas. At auctor urna nunc id. Justo laoreet sit amet cursus sit. Est ultricies integer quis auctor elit.
				h2 2Lorem ipsum dolor sit amet.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia adipisci corporis pariatur enim aliquam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime tempora autem dolore provident iusto similique deleniti molestiae culpa voluptates numquam?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia adipisci corporis pariatur enim aliquam?
				h3 3Lorem ipsum dolor sit amet.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia adipisci corporis pariatur enim aliquam?
				h4 4Lorem ipsum dolor sit amet.
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia adipisci corporis pariatur enim aliquam?
				p Lorem ipsum dolor sit amet consectetur adipisicing elit.
				ul
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error maiores dolor repudiandae sed aut ducimus id, consequuntur nobis aliquid dolorem?
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
				ol
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error maiores dolor repudiandae sed aut ducimus id, consequuntur nobis aliquid dolorem?
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit.

			.article-footer
				.article-footer__left
					.article-finfo 13 февраля 2024
				.article-footer__right
					.article-finfo.article-finfo--views 999

		.prefooter-padding.prefooter-padding--small-64