extends layouts/default
include helpers/mixins

block variables
	- const title = "Главная"

block content

	section.front-top-banner
		.swiper.ftb-slider.js-ftb-slider
			.swiper-wrapper.ftb-slider__swiper-wrapper
				.swiper-slide.ftb-slider-slide
					.ftb-slider-slide__bg
						img(src="img/home/top-slider-picture.jpg", alt="")
					.container.ftb-slider-slide__container
						.ftb-slde-info
							.ftb-slde-info__title Красивые<br> квартиры<br> в&nbsp;Краснодаре
							.ftb-slde-info__desc Квартиры от 5 млн руб.
							.ftb-slde-info__btn-wrap
								a.btn(href="")
									span Узнать цены

				.swiper-slide.ftb-slider-slide
					.ftb-slider-slide__bg
						img(src="img/home/top-slider-picture.jpg", alt="")
					.container.ftb-slider-slide__container
						.ftb-slde-info
							.ftb-slde-info__title Красивые<br> квартиры<br> в&nbsp;Краснодаре
							.ftb-slde-info__desc Квартиры от 5 млн руб.
							.ftb-slde-info__btn-wrap
								a.btn(href="")
									span Узнать цены

				.swiper-slide.ftb-slider-slide
					.ftb-slider-slide__bg
						img(src="img/home/top-slider-picture.jpg", alt="")
					.container.ftb-slider-slide__container
						.ftb-slde-info
							.ftb-slde-info__title Красивые<br> квартиры<br> в&nbsp;Краснодаре
							.ftb-slde-info__desc Квартиры от 5 млн руб.
							.ftb-slde-info__btn-wrap
								a.btn(href="")
									span Узнать цены

				.swiper-slide.ftb-slider-slide
					.ftb-slider-slide__bg
						img(src="img/home/top-slider-picture.jpg", alt="")
					.container.ftb-slider-slide__container
						.ftb-slde-info
							.ftb-slde-info__title Красивые<br> квартиры<br> в&nbsp;Краснодаре
							.ftb-slde-info__desc Квартиры от 5 млн руб.
							.ftb-slde-info__btn-wrap
								a.btn(href="")
									span Узнать цены
			.ftb-slider__controls-wrap
				.container.container--flex
					.slider-controls
						.js-swiper-button-prev.slider-controls__arrow.slider-controls__arrow--prev
							svg
								use(xlink:href="img/sprites/sprite.svg#slider-arrow-next")
						.js-swiper-pagination.slider-controls-pagination
						.js-swiper-button-next.slider-controls__arrow.slider-controls__arrow--next
							svg
								use(xlink:href="img/sprites/sprite.svg#slider-arrow-next")


	section.filters
		.container.container--sec-filters.container--with-art-on-right
			h2.section-title.section-title--filters Подберите квартиру
			.js-filters-row.filters-row.filters-row--hidden
				.filters-row-item
					.filters-row-item__name Проект
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург
								option(value="spb1") Lorem ipsum dolor sit amet consectetur.


				.filters-row-item
					.filters-row-item__name Кол-во комнат
					.filters-row-item__field
						.chb-group.chb-group--fg
							label.chb-item
								input(type="radio" name="rooms_count" value="c")
								.chb-item__pseudo С
							label.chb-item
								input(type="radio" name="rooms_count" value="1")
								.chb-item__pseudo 1
							label.chb-item
								input(type="radio" name="rooms_count" value="2")
								.chb-item__pseudo 2
							label.chb-item
								input(type="radio" name="rooms_count" value="3")
								.chb-item__pseudo 3
				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Стоимость от
						span Стоимость до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="3000000" data-max="9700000" data-suffix=" ₽" data-format="int" data-step="100000" )
							//data-start-left data-start-right
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range

				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Площадь от
						span Площадь до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="24" data-max="124" data-suffix=" м²" data-format="int" data-step="1" )
							//data-start-left data-start-right
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range

				.filters-row-item
					.filters-row-item__name Срок сдачи
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург

				.filters-row-item
					.filters-row-item__name Класс жилья
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург

				.filters-row-item
					.filters-row-item__name Отделка
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург

				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Этаж от
						span Этаж до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="1" data-max="10" data-suffix=" этаж" data-format="int" data-step="1" )
							//data-start-left data-start-right
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range

				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Кухня от
						span Кухня до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="5" data-max="24" data-suffix=" м²" data-format="int" data-step="1" )
							//data-start-left data-start-right
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range


				.filters-row-item
					.filters-row-item__name Технология
					.filters-row-item__field
						.simple-select2-wrap
							select.js-simple-select2-outer-dropdown()
								option(selected value="all") Любой
								option(value="msk") Москва
								option(value="spb") Санкт-Петербург


			.filters-bottom
				.filters-bottom__left
					.twi-switch.twi-switch--filter-sec.twi-switch--more-filters.js-twi-switch--more-filters
						.twi-switch__icon
							svg
								use(xlink:href="img/sprites/sprite.svg#filters-hide")
						.twi-switch__name
							span Дополнительные фильтры
							span Скрыть дополнительные фильтры
					.twi-switch.twi-switch--filter-sec
						.twi-switch__icon
							svg
								use(xlink:href="img/sprites/sprite.svg#filters-clear")
						.twi-switch__name Сбросить фильтр
				.filters-bottom__right
					a.btn(href="")
						span
							|  Показать
							span.js-filter-result-items-count  146
							|  квартир


		.half-container.half-container--invert.half-container--filters-art
			.filters-art
				//img(src="img/svg/filters-bottom-art.svg", alt="abstract art")

	.blue-sections-bg
		section.our-projects.section-margin
			.container
				.our-projects__top
					.our-projects__top-left
						h2.section-title Наши проекты
					.our-projects__top-right
						a.btn(href="")
							span Все проекты
				.our-projects-flex
					a.project-card(href="")
						.project-card__pic
							img(src="img/home/project-card-pic.jpg", alt="")
							.card-labels.project-card__labels
								.card-label(style="background: #41b1d9;") В продаже
								.card-label Комфорт +

						.project-card-content
							.project-card-content__top
								.project-card-content__title ЖК Эстет
								.project-card-content__price от 4.3 млн ₽
							.project-card-info-wrap
								.project-card-info
									.project-card-info__name Адрес
									.project-card-info__description г. Краснодар, Адмиралтейский бульвар, 1

								.project-card-info
									.project-card-info__name Сдача
									.project-card-info__description 1 кв. 2025 г.
					.project-card
						.project-card__pic
							img(src="img/home/project-card-placeholder.jpg", alt="")
							.project-card__pic-text СКОРО

						.project-card-content
							.project-card-content__top
								.project-card-content__title ЖК новый
								.project-card-content__price
							.project-card-info-wrap
								.project-card-info
									.project-card-info__name Адрес
									.project-card-info__description г. Краснодар, ул. Новая, 1

								.project-card-info
									.project-card-info__name Сдача
									.project-card-info__description 1 кв. 2027 г.


				.showmore-wrap
					a.btn.btn--dark(href="")
						span Показать еще
				.our-projects__mob-btn-all-wrap
					a.btn(href="")
						span Все проекты

		section.purchase-ways.section-margin
			.container
				h2.section-title Способы покупки
				.purchase-ways-flex
					.purchase-ways-flex__main
						.purchase-ways-form
							.purchase-ways-form__top
								.purchase-ways-form__top-left
									.purchase-ways-form__title  Ипотека
									.purchase-ways-form__desc Более 10 банков-партнеров с выгодными условиями
								.purchase-ways-form__top-right
									a.btn.btn--with-arrow.btn--dark(href="")
										span Получить расчет
							.purchase-ways-form__main
								.pw-controls
									.pw-control.pw-control--w33.pw-control--md100
										.pw-control__name Ипотечная программа
										.pw-control__field
											.simple-select2-wrap
												select.js-simple-select2-outer-dropdown(data-style="select2-container--style-2 select2-container--bdrs-4 select2-container--smaller-lrp")
													option(selected value="1") Субсидированная ипотека
													option(value="2") Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, dolor!
									.pw-control.pw-control--w33
										.pw-control__name Стоимость недвижимости
										.pw-control__field
											.rs-block.rs-block--single.rs-block--start-at-0.rs-block--style-2.custom-style-rs.js-range-slider(data-single="true" data-min="1000000" data-max="10000000" data-suffix=" ₽" data-format="int" data-step="100000" )
												//data-start-left data-start-right
												.rs-block__top
													input.rs-block__inp.rs-block__inp-single.rs-block__inp-single--smaller-lrp.js-range-slider__inp-single(type="text")
												.rs-block__bottom
													.rs-block__rs.js-range-slider__range
									.pw-control.pw-control--w33
										.pw-control__name Срок
										.pw-control__field
											.rs-block.rs-block--single.rs-block--start-at-0.rs-block--style-2.custom-style-rs.js-range-slider(data-single="true" data-min="1" data-max="30" data-suffix="year" data-format="int" data-step="1" )
												//data-start-left data-start-right
												.rs-block__top
													input.rs-block__inp.rs-block__inp-single.rs-block__inp-single--smaller-lrp.js-range-slider__inp-single(type="text")
												.rs-block__bottom
													.rs-block__rs.js-range-slider__range
								.pw-banks-wrap#banks-modal
									.pw-banks-wrap__top
										.pw-banks-wrap__close.js-pw-banks-modal-close
									.pw-banks-wrap__main
										.pw-banks.pw-banks--in-form
											.pw-bank
												.pw-bank__col.pw-bank__col--name
													.pw-bank__icon
														img(src="img/svg/bank-psb.svg", alt="")
													//.pw-bank__name Азиатско-Тихоокеанский
													//.pw-bank__name Алтайкапиталбанк
													.pw-bank__name ПромСвязьБанк

												.pw-bank__col.pw-bank__col--payment
													.pw-bank__info-top Ежемесячный платеж
													.pw-bank__info-bottom 54 679 ₽/мес.
												.pw-bank__col.pw-bank__col--rate
													.pw-bank__info-top Ставка
													.pw-bank__info-bottom 5.7%
												.pw-bank__col.pw-bank__col--btn
													a.pw-bank__btn.js-pw-bank__btn(href="#")
														svg
															use(xlink:href="img/sprites/sprite.svg#bank-arrow")

											.pw-bank
												.pw-bank__col.pw-bank__col--name
													.pw-bank__icon
														img(src="img/svg/bank-sber.svg", alt="")
													.pw-bank__name Сбербанк
												.pw-bank__col.pw-bank__col--payment
													.pw-bank__info-top Ежемесячный платеж
													.pw-bank__info-bottom 54 679 ₽/мес.
												.pw-bank__col.pw-bank__col--rate
													.pw-bank__info-top Ставка
													.pw-bank__info-bottom 5.7%
												.pw-bank__col.pw-bank__col--btn
													a.pw-bank__btn.js-pw-bank__btn(href="#")
														svg
															use(xlink:href="img/sprites/sprite.svg#bank-arrow")

											.pw-bank
												.pw-bank__col.pw-bank__col--name
													.pw-bank__icon
														img(src="img/svg/bank-alfa.svg", alt="")
													.pw-bank__name Альфа Банк
												.pw-bank__col.pw-bank__col--payment
													.pw-bank__info-top Ежемесячный платеж
													.pw-bank__info-bottom 54 679 ₽/мес.
												.pw-bank__col.pw-bank__col--rate
													.pw-bank__info-top Ставка
													.pw-bank__info-bottom 5.7%
												.pw-bank__col.pw-bank__col--btn
													a.pw-bank__btn.js-pw-bank__btn(href="#")
														svg
															use(xlink:href="img/sprites/sprite.svg#bank-arrow")

											.pw-bank
												.pw-bank__col.pw-bank__col--name
													.pw-bank__icon
														img(src="img/svg/bank-skb.svg", alt="")
													.pw-bank__name СовКомБанк
												.pw-bank__col.pw-bank__col--payment
													.pw-bank__info-top Ежемесячный платеж
													.pw-bank__info-bottom 54 679 ₽/мес.
												.pw-bank__col.pw-bank__col--rate
													.pw-bank__info-top Ставка
													.pw-bank__info-bottom 5.7%
												.pw-bank__col.pw-bank__col--btn
													a.pw-bank__btn.js-pw-bank__btn(href="#")
														svg
															use(xlink:href="img/sprites/sprite.svg#bank-arrow")

						.pw-summary
										.pw-summary-item
											.pw-summary-item__left
												.pw-summary-item__title Ежемесячный платеж
												.pw-summary-item__text от 54 679 ₽/мес.
										.pw-summary-item
											.pw-summary-item__left
												.pw-summary-item__title Ставка
												.pw-summary-item__text от 5.7%
											.pw-summary-item__right
												.pws-circles
													.pws-icon
														img(src="img/svg/bank-psb.svg", alt="")
													.pws-icon
														img(src="img/svg/bank-sber.svg", alt="")
													.pws-icon
														span 16
										.pw-summary-btn
											a.btn.btn--with-arrow.btn--dark.js-open-pw-banks-modal(href="")
												span Все предложения
					.purchase-ways-flex__side
						.purchase-way-card
							.purchase-way-card__top
								.purchase-way-card__name Рассрочка
								.purchase-way-card__desc Согласуем индивидуальные условия рассрочки
								.purchase-way-card__btn-wrap
									a.btn.btn--with-arrow.btn--dark(href="")
										span Согласовать условия
							.purchase-way-card__pic
								img(src="img/home/purchase-way-card-pic.png", alt="")




		section.newssec.section-margin
			.container
				.newssec-top
					.newssec-top__left
						h2.section-title Акции и новости
					.newssec-top__right
						.tabs-controls
							.tabs-controls__item.tabs-controls__item--active Акции
							.tabs-controls__item Новости
				.newssec-main
					.newssec-grid.newssec-grid--front
						a.news-card.news-card--front(href="")
							.news-card__pic
								img(src="img/new-pic-1.jpg", alt="")
								.news-card__text-over-pic Выбирай свой<br> паркинг
							.news-card__text
								.news-card__title Выбирай свой паркинг
								.news-card__desc Скидка на парковку в новом ЖК! Подземная парковка, удобство и безопасность по половине.
						a.news-card.news-card--front(href="")
							.news-card__pic
								img(src="img/new-pic-2.jpg", alt="")
								.news-card__text-over-pic  ипотека 1%
							.news-card__text
								.news-card__title Ипотека 1% до 30 сентября
								.news-card__desc Скидка на парковку в новом ЖК! Подземная парковка, удобство и безопасность по половине.
						a.news-card.news-card--front(href="")
							.news-card__pic
								img(src="img/new-pic-3.jpg", alt="")
								.news-card__text-over-pic Коммерческие помещения
							.news-card__text
								.news-card__title Коммерческие помещения
								.news-card__desc Скидка на парковку в новом ЖК! Подземная парковка, удобство и безопасность по половине.
					.showmore-wrap
						a.btn.btn--dark(href="")
							span Все акции и новости


		section.home-about
			.container
				.home-about-flex
					.home-about-flex__left
						.home-about-pic
							img(src="img/home/about.jpg", alt="")
					.home-about-flex__right
						.home-about-card
							.home-about-card__text
								h2.home-about-card__title.section-title О застройщике
								.home-about-card__desc В команде «Континент Групп» — исключительные профессионалы, которые наработали многолетний опыт в рядах других застройщиков. Мы объединились, чтобы сделать видимый прорыв на южном рынке недвижимости! За 5 лет готовимся войти в ТОП-5 девелоперов ЮФО!
								.home-about-card__btn
									a.btn(href="")
										span Узнать больше
							.home-about-card__bg

		.prefooter-padding