extends layouts/default
include helpers/mixins

block variables
	- const title = "Главная"

block content

	section.front-top-banner
		.swiper.ftb-slider.js-ftb-slider
			.swiper-wrapper.ftb-slider__swiper-wrapper
				.swiper-slide.ftb-slider-slide
					.ftb-slider-slide__bg
						img(src="img/home/top-slider-picture.jpg", alt="")
					.container.ftb-slider-slide__container
						.ftb-slde-info
							.ftb-slde-info__title Красивые<br> квартиры<br> в&nbsp;Краснодаре
							.ftb-slde-info__desc Квартиры от 5 млн руб.
							.ftb-slde-info__btn-wrap
								a.btn(href="")
									span Узнать цены

				.swiper-slide.ftb-slider-slide
					.ftb-slider-slide__bg
						img(src="img/home/top-slider-picture.jpg", alt="")
					.container.ftb-slider-slide__container
						.ftb-slde-info
							.ftb-slde-info__title Красивые<br> квартиры<br> в&nbsp;Краснодаре
							.ftb-slde-info__desc Квартиры от 5 млн руб.
							.ftb-slde-info__btn-wrap
								a.btn(href="")
									span Узнать цены

				.swiper-slide.ftb-slider-slide
					.ftb-slider-slide__bg
						img(src="img/home/top-slider-picture.jpg", alt="")
					.container.ftb-slider-slide__container
						.ftb-slde-info
							.ftb-slde-info__title Красивые<br> квартиры<br> в&nbsp;Краснодаре
							.ftb-slde-info__desc Квартиры от 5 млн руб.
							.ftb-slde-info__btn-wrap
								a.btn(href="")
									span Узнать цены

				.swiper-slide.ftb-slider-slide
					.ftb-slider-slide__bg
						img(src="img/home/top-slider-picture.jpg", alt="")
					.container.ftb-slider-slide__container
						.ftb-slde-info
							.ftb-slde-info__title Красивые<br> квартиры<br> в&nbsp;Краснодаре
							.ftb-slde-info__desc Квартиры от 5 млн руб.
							.ftb-slde-info__btn-wrap
								a.btn(href="")
									span Узнать цены
			.ftb-slider__controls-wrap
				.container.container--flex
					.slider-controls
						.js-swiper-button-prev.slider-controls__arrow.slider-controls__arrow--prev
							svg
								use(xlink:href="img/sprites/sprite.svg#slider-arrow-next")
						.js-swiper-pagination.slider-controls-pagination
						.js-swiper-button-next.slider-controls__arrow.slider-controls__arrow--next
							svg
								use(xlink:href="img/sprites/sprite.svg#slider-arrow-next")


	section.filters
		.container.container--sec-filters
			h2.section-title.section-title--filters Наши проекты
			.filters-row
				.filters-row-item
					.filters-row-item__name Проект
					.filters-row-item__field
				.filters-row-item
					.filters-row-item__name Кол-во комнат
					.filters-row-item__field
						.chb-group
							label.chb-item
								input(type="checkbox" name="rooms_count" value="c")
								.chb-item__pseudo С
							label.chb-item
								input(type="checkbox" name="rooms_count" value="1")
								.chb-item__pseudo 1
							label.chb-item
								input(type="checkbox" name="rooms_count" value="2")
								.chb-item__pseudo 2
							label.chb-item
								input(type="checkbox" name="rooms_count" value="3")
								.chb-item__pseudo 3
				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Стоимость от
						span Стоимость до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="0" data-max="500" data-format="int" data-step="1"/* data-start-left data-start-right*/)
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range

				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Площадь от
						span Площадь до
				.filters-row-item
					.filters-row-item__name Срок сдачи
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="0" data-max="500" data-format="int" data-step="1"/* data-start-left data-start-right*/)
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range




				.filters-row-item
					.filters-row-item__name Класс жилья
					.filters-row-item__field
				.filters-row-item
					.filters-row-item__name Отделка
					.filters-row-item__field
						.chb-group
							label.chb-item
								input(type="checkbox" name="otdelka" value="1")
								.chb-item__pseudo Без отделки
							label.chb-item
								input(type="checkbox" name="otdelka" value="2")
								.chb-item__pseudo Предчистовая
							label.chb-item
								input(type="checkbox" name="otdelka" value="3")
								.chb-item__pseudo Вариант 3

				.filters-row-item
					.filters-row-item__name.filters-row-item__name--range
						span Этаж от
						span Этаж до
					.filters-row-item__field
						.rs-block.custom-style-rs.js-range-slider(data-min="0" data-max="30" data-format="int" data-step="1"/* data-start-left data-start-right*/)
							.rs-block__top
								input.rs-block__inp.rs-block__inp-left.js-range-slider__inp-left(type="text")
								input.rs-block__inp.rs-block__inp-right.js-range-slider__inp-right(type="text")
							.rs-block__bottom
								.rs-block__rs.js-range-slider__range


				.filters-row-item
					.filters-row-item__name Технология
					.filters-row-item__field

			.filters-bottom
				.filters-bottom__left
					.filters-toggle-state
						.filters-toggle-state__icon
							svg
								use(xlink:href="img/sprites/sprite.svg#filters-hide")
						.filters-toggle-state__name Скрыть дополнительные фильтры
					.filters-toggle-state
						.filters-toggle-state__icon
							svg
								use(xlink:href="img/sprites/sprite.svg#filters-clear")
						.filters-toggle-state__name Сбросить фильтр
				.filters-bottom__right
					a.btn(href="")
						span
							|  Показать
							span.js-filter-result-items-count  146
							|  квартир


		.half-container.half-container--invert.half-container--filters-art
			.filters-art
				img(src="img/svg/filters-bottom-art.svg", alt="")