footer.site-footer
	.container.container--footer
		.sf-top
			a.sf-top__logo(href="/")
				img(src="img/footer-logo.png", alt="")
			ul.sf-top__menu.sf-menu
				li.sf-menu-item
					a(href="") Квартиры
				li.sf-menu-item
					a(href="") Ипотека
				li.sf-menu-item
					a(href="") О компании
			.sf-top__btns
				a.btn.js-call-me-modal(href="#")  Заказать звонок
		.sf-bottom
			.sf-bottom__left
				.sf-copyright
					p © 2023. Все права защищены.
					p Сайт носит информационный характер и не является публичной офертой согласно положениям Статьи 437 Гражданского кодекса Российской Федерации.
				ul.sf-bottom-links
					li.sf-bottom-link
						a(href="") Положение о защите персональных данных
					li.sf-bottom-link
						a(href="")  Пользовательское соглашение
			.sf-bottom__right
				.sf-contacts
					a(href="") +7 (861) 202-22-01

				.socials.sf-socials
					a.socials__item(href="")
						svg
							use(xlink:href="img/sprites/sprite.svg#soc-vk")
					a.socials__item(href="")
						svg
							use(xlink:href="img/sprites/sprite.svg#soc-ok")
					a.socials__item(href="")
						svg
							use(xlink:href="img/sprites/sprite.svg#soc-tg")
					a.socials__item(href="")
						svg
							use(xlink:href="img/sprites/sprite.svg#soc-yt")

