h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}




input,
button,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
	outline: none;
	font-size: inherit;
	background: transparent;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
}

img,
picture {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

a {
	color: inherit;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #252831;
	background: #FCFCFC;
	font-family: $mainFont;
	font-size: 16px;
	line-height: 1.2;
}

.main {
	flex-grow: 1;
}

html,
body {
	height: 100%;
}

.container {
	box-sizing: border-box;
	width: 1472px;
	max-width: 95%;
	max-width: calc(100% - 64px * 2);
	margin: 0 auto;

	@include max(lg) {
		max-width: calc(100% - 30px * 2);

	}

	@include max(md) {
		max-width: calc(100% - 16px * 2);
	}

	&--flex {
		display: flex;
	}

	&--article {
		width: 900px;
	}

}


.half-container {
	box-sizing: border-box;
	width: calc(50% + 736px);
	max-width: 95%;
	max-width: calc(100% - 64px);
	margin-left: auto;
	margin-right: 0;

	@include max(lg) {
		max-width: calc(100% - 30px);
	}

	@include max(md) {
		max-width: calc(100% - 16px);
	}

	&--invert {
		margin-left: 0;
		margin-right: auto;

	}
}


#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	-webkit-locale: auto;
	white-space: normal;

	&.compensate-for-scrollbar {
		overflow: hidden;
	}
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.site-main {
	width: 100%;
	flex-grow: 1;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}


.btn {
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	padding: 14px 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #53667f;
	font-weight: 700;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: -0.02em;
	color: #fff;
	transition-duration: .3s;
	@include max(md){
		padding: 14px 20px;

	}

	&:hover {
		background: rgba(83, 102, 127, 0.7);
	}

	&--with-arrow {
		&::after {
			content: '';
			display: block;
			margin-left: 16px;
			width: 7px;
			height: 11px;
			background: url(../img/svg/btn-arrow-dark.svg) no-repeat center center;
			background-size: contain;
		}
		@include max(sm){
			padding: 14px 14px;
		}
	}

	&--dark {
		border: 1px solid rgba(255, 255, 255, 0.2);
		background: none;

		&:hover {
			background: none;
			border-color: rgba(255, 255, 255, 0.5);
		}
	}

	&--light {
		border: 1px solid rgba(37, 40, 49, 0.2);
		background: none;
		color: #252831;

		&:hover {
			background: none;
			border-color: rgba(37, 40, 49, 0.5);
		}

		&.btn--with-arrow {
			&::after {
				background: url(../img/svg/btn-arrow-light.svg) no-repeat center center;
				background-size: contain;
			}
		}
	}

	&--w100 {
		width: 100%;
	}
}







.tabs-controls {
	display: flex;
	flex-wrap: wrap;
	margin-left: -16px;
	margin-bottom: -10px;

	&__item {
		background: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0);
		border-radius: 6px;
		padding: 8px 16px;
		font-weight: 600;
		font-size: 16px;
		line-height: 125%;
		letter-spacing: -0.02em;
		color: #fff;
		margin-left: 16px;
		margin-bottom: 10px;
		transition-duration: .3s;
		cursor: pointer;

		&--active {
			pointer-events: none;
		}

		&--active,
		&:hover {
			background: #53667f;
			border: 1px solid rgba(255, 255, 255, 0.15);
		}
	}

	&--light {
		.tabs-controls__item {

			color: #252831;
			background: rgba(37, 40, 49, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.15);

			&--active,
			&:hover {
				border: 1px solid rgba(255, 255, 255, 0.15);
				background: #53667f;
				color: #fff;
			}
		}
	}
}

.prefooter-padding {
	padding-top: 160px;

	@include max(lg) {
		padding-top: 100px;
	}

	@include max(md) {
		padding-top: 64px;
	}

	&--small-64 {
		padding-top: 64px;

		@include max(md) {
			padding-top: 47px;
		}
	}
}


.fancybox__backdrop {
	backdrop-filter: blur(20px);
	background: rgba(0, 0, 0, 0.1);
}



.not-found {
	background: #263344;
	background: url(../img/404.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 619px;
	padding: 40px 0;

	@include max(lg) {

		min-height: 550px;
	}
}

.not-found-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__text1 {
		font-weight: 700;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: -0.02em;
		text-align: center;
		color: #fff;
		text-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.05);

		@include max(md) {
			font-size: 15px;
		}
	}

	&__text2 {
		margin-top: 16px;
		font-weight: 700;
		font-size: 56px;
		line-height: 110%;
		letter-spacing: -0.02em;
		text-align: center;
		color: #fff;
		text-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.16), 0 0 5px 0 rgba(0, 0, 0, 0.1);

		@include max(md) {
			margin-top: 32px;
			font-size: 28px;
			line-height: 100%;
		}
	}

	&__btn {
		margin-top: 32px;

		.btn {
			@include min(lg) {
				padding: 14px 56px;
			}
		}

		@include max(xs) {
			width: 100%;
		}
	}
}

.simplebar-track.simplebar-vertical {
	width: 5px;

}
.simplebar-scrollbar{

	&::before {

		border-radius: 2px;

		background: rgba(255, 255, 255, 0.2);
		left: 0;
		right: 0;
		opacity: 1;
	}

}
.simplebar-scrollbar.simplebar-visible:before{
	opacity: 1;
}
.simplebar-dragging .simplebar-scrollbar.simplebar-visible:before{
	opacity: 0.7;
}


.favourite-toggle {
    width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

    cursor: pointer;
    position: relative;




    &::before {
        content: '';
        display: block;
        left: -10px;
        top: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        position: absolute;
    }

    svg {
		width: 20px;
		height: 17px;
    }

    svg,
    svg * {
        stroke: #252831;
        fill: rgba(255, 255, 255, 0);
        transition-duration: .1s;
		stroke-opacity: 0.5;
    }

    &--active {
        svg,
        svg * {
            stroke: #53667f;
            fill: #53667f;
			stroke-opacity: 1;
        }
    }
	&--btn-style{
		border-radius: 8px;
		border: 1px solid rgba(37, 40, 49, 0.25);
		min-height: 50px;
		align-self: stretch;
		width: 54px;
        transition-duration: .3s;
		svg {
			width: 26px;
			height: 22px;
		}
		svg,
		svg * {
			stroke-opacity: 1;
		}
		&:hover{
			border: 1px solid rgba(37, 40, 49, 0.5);

		}
	}
}

[data-fancybox]{
	cursor: pointer;
}