.apartments {}

.apartments-sorting {
	margin-top: 32px;
	width: 294px;
	max-width: 100%;

	@include max(md) {
		margin-top: 24px;
	}

	@include max(sm) {
		width: 100%;
	}
}

.apartments-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	margin-top: 32px;

	@include max(md) {
		gap: 24px;
		margin-top: 24px;
	}

}

.apartment-card {
	width: calc(33.3333% - 22px);
	border-radius: 12px;
	padding: 32px 32px 24px;
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
	position: relative;

	@include max(lg) {
		width: calc(50% - 22px);
	}

	@include max(md) {
		width: calc(50% - 12px);
		padding: 16px 16px 23px;
	}

	@include max(sm) {
		width: calc(100%);

	}

	&--w100 {
		width: 100% !important;
	}


	@include hov();

	&__complex {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #252831;
		padding-right: 28px;
	}

	&__price {
		margin-top: 12px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 16px;
		font-family: $songer;

		@include max(md) {
			gap: 8px;
			margin-top: 8px;
		}
	}

	&__new-price {
		font-weight: 500;
		font-size: 20px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #53667f;

		@include max(md) {
			font-size: 18px;
		}
	}

	&__old-price {
		font-weight: 400;
		font-size: 13px;
		line-height: 110%;
		letter-spacing: -0.02em;
		text-decoration: line-through;
		color: #ff4d4d;

		@include max(md) {}
	}

	&__price-per-m {
		margin-top: 8px;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #252831;
		opacity: 0.5;

	}

	&__props {
		margin-top: 12px;

		@include max(md) {
			margin-top: 8px;
		}
	}

	&__favourite-toggle {
		position: absolute;
		right: 32px;
		top: 32px;

		@include max(md) {
			right: 16px;
			top: 16px;
		}
	}

	&__picture {
		margin-top: 38px;
		height: auto;
		width: calc(100% - 58px);
		margin-left: auto;
		margin-right: auto;

		@include max(md) {
			width: calc(100% - 40px);
			margin-top: 24px;
		}
	}

	&__labels {
		margin-top: 39px;
		flex-grow: 1;
		display: flex;
		flex-direction: column-reverse;

		@include max(md) {
			margin-top: 24px;

			margin-bottom: -15px;
		}
	}

	&:has(.apartment-card__favourite-toggle:hover) {
		opacity: 1;
	}
}

.apartment-inline-props {
	display: flex;
	align-items: center;
}

.apartment-inline-prop {
	font-weight: 700;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #252831;

	display: flex;
	align-items: center;

	&:not(:last-child) {
		&::after {
			content: '';
			display: inline-block;
			background-color: #252831;
			opacity: 0.5;
			margin-left: 8px;
			margin-right: 8px;
			width: 10px;
			height: 1px;

		}
	}
}



.apartment-labels {
	display: flex;
	flex-wrap: wrap;
	margin-left: -8px;
}

.apartment-label {
	margin-left: 8px;
	margin-bottom: 8px;
	background: #b3dff1;
	border-radius: 4px;
	padding: 8px;

	font-weight: 400;
	font-size: 14px;
	line-height: 110%;
	letter-spacing: -0.02em;
	color: #252831;
}


.apartment-page {
	margin-top: 64px;

	@include max(md) {
		margin-top: 24px;
	}
}

.apartment-page-top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 24px;

	&__back {
		margin-right: 12.5%;
	}

	&__bc {
		@include max(md) {

			width: 100%;
		}
	}
}

.apartment-breadcrumbs {

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 10px 0;

	&__item {
		display: flex;
		align-items: center;

		font-weight: 400;
		font-size: 24px;
		line-height: 120%;
		letter-spacing: -0.02em;
		color: #252831;
		font-family: $songer;

		@include max(md) {
			font-size: 16px;
		}

		a {
			@include hov();
		}

		a,
		span {
			display: inline;
			font: inherit;
			line-height: inherit;
			color: #252831;
		}

		&:not(:last-child) {
			&::after {
				content: '';
				display: inline-block;
				margin-left: 16px;
				margin-right: 16px;
				background: url(../img/svg/apartment-bc-arrow.svg) no-repeat center center;
				background-size: contain;
				width: 6px;
				height: 9px;

				@include max(md) {
					margin-left: 8px;
					margin-right: 8px;
					width: 5px;
					height: 7px;
				}
			}

		}
	}
}

.apartment-page-flex {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;

	@include max(md) {
		display: block;
		margin-top: 24px;
	}

	&__main {
		position: relative;
		width: calc(100% - 459px - 32px);

		@include max(md) {
			width: 100%;
		}
	}

	&__side {
		width: 100%;
		max-width: 459px;

		@include max(md) {
			max-width: 100%;
			margin-top: 24px;
		}
	}
}

.apartment-page-pic {
	border-radius: 12px;
	background: #F5F5F5;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	/*
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;*/
}

.togglable-pictures {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	flex-grow: 1;
	padding: 24px;

	@include max(md) {
		padding: 16px;
	}


	&__pics-wrap {
		position: relative;
		width: 100%;

		&::before {
			content: '';
			display: block;
			width: 100%;
			min-height: 416px;

			@include max(sm) {

				//min-height: 213px;
				min-height: unset;
				padding-top: 81.92307%;

			}
		}
	}

	&__img {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition-duration: .3s;

		img {

			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center center;

		}

		&--active {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__toggles {
		margin-top: 35px;

		@include max(md) {
			margin-top: 32px;
			width: 100%;
		}
	}
}

.apartment-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&__title {
		font-weight: 500;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #252831;
		font-family: $songer;

		@include max(md) {
			font-size: 24px;

		}
	}

	&__completion {
		margin-top: 24px;
		background: rgba(37, 40, 49, 0.05);
		border-radius: 6px;
		padding: 8px 16px;

		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #252831;

		span {
			color: rgba(37, 40, 49, 0.5);
		}

		@include max(md) {
			margin-top: 16px;
		}
	}

	&__prices {
		width: 100%;

		margin-top: 24px;
		padding-top: 24px;
		border-top: 1px solid rgba(37, 40, 49, 0.2);
		border-bottom: 1px solid rgba(37, 40, 49, 0.2);
		padding-bottom: 24px;

		@include max(md) {
			margin-top: 16px;
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}

	&__price {
		font-weight: 500;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #53667f;
		font-family: $songer;

		@include max(md) {
			font-size: 18px;
		}
	}

	&__per-meter {
		margin-top: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #252831;
		opacity: 0.5;
		margin-top: 16px;

		@include max(md) {
			margin-top: 8px;
			font-size: 14px;
		}
	}

	&__props {
		margin-top: 24px;
		width: 100%;

		@include max(md) {
			margin-top: 16px;
		}
	}

	&__btns {
		width: 100%;

		margin-top: 24px;
		padding-top: 24px;
		border-top: 1px solid rgba(37, 40, 49, 0.2);
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		&>* {
			flex-grow: 1;
		}

		@include max(md) {
			margin-top: 16px;
			padding-top: 16px;
			gap: 16px 8px;
		}
	}
}

.apartment-info-props {


	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;

		@include max(md) {
			font-size: 15px;
		}

		&+.apartment-info-props__item {
			margin-top: 12px;
		}
	}

	&__item-name {
		color: rgba(37, 40, 49, 0.5);
	}

	&__item-value {
		color: #252831;
	}
}

.apartment-favourite-toggle {
	flex-grow: 0;

	&+* {
		@include max(md) {
			width: 100%;
		}
	}
}

.apartments-galleries {}

.apartments-galleries-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 23px;
	border-bottom: 1px solid rgba(37, 40, 49, 0.2);
	gap: 24px;

	&__left {}

	&__right {
		@include max(md) {
			width: 100%;
			overflow: auto;
		}

		.tabs-controls {
			@include max(md) {
				flex-wrap: nowrap;
				margin-bottom: 0;
			}

			&__item {
				@include max(md) {
					margin-bottom: 0;
					white-space: nowrap;
				}
			}

		}
	}
}

.tabs-controls {
	&__item {}

	&__item--active {}
}

.apartments-galleries-main {
	margin-top: 48px;
	position: relative;

	@include max(md) {
		margin-top: 24px;
	}
}


.images-slider {}

.images-slider-slide {
	position: relative;

	&::before {
		content: '';
		display: block;
		padding-top: 48.712595%;
		width: 100%;

		@include max(sm) {
			padding-top: 131.9444%;
		}
	}

	img {
		@include relative_img;
		border-radius: 12px;
	}
}

.images-slider__controls-wrap {
	position: absolute;
	right: 32px;
	top: 32px;
	z-index: 2;

	@include max(md) {

		top: auto;
		right: auto;
		left: 16px;
		bottom: 16px;
	}

	.slider-controls {
		background: rgba(255, 255, 255, 0.15);

	}
}




.purchase-ways--light {

	.purchase-ways-form {
		background: #F5F5F5;
		color: #252831;
	}

	.pw-summary {
		background: #F5F5F5;
		color: #252831;

	}

	.purchase-ways-form__title {
		color: #252831;

	}

	.purchase-ways-form__desc {
		color: #252831;

	}

	.pw-summary-item__title {

		color: rgba(37, 40, 49, 0.5);
	}

	.pw-summary-item__text {
		color: #252831;

	}

	.purchase-ways-form__main {
		border-top: 1px solid rgba(37, 40, 49, 0.07);
	}

	.pw-summary-item+.pw-summary-item {
		border-top: 1px solid rgba(37, 40, 49, 0.07);
	}

	.pw-control__name {
		color: rgba(37, 40, 49, 0.7);
	}

	.pw-bank {
		color: #252831;
	}

	.pw-bank+.pw-bank {
		@include min(md) {

			border-top: 1px solid rgba(37, 40, 49, 0.07);
		}
	}

	.pws-icon {
		background: #efefef;
		border-color: rgba(37, 40, 49, 0.15);
	}

	.pws-icon span {
		color: #252831;
	}

	.pw-banks-wrap {
		@include max(md){

		background: #fff;
		}
	}

	.pw-banks-wrap__top {
		@include max(md) {

			border-bottom: 1px solid rgba(37, 40, 49, 0.07);
		}
	}

	.pw-bank {
		@include max(md) {

			background: #F5F5F5;
		}
	}

	.pw-bank__col--name {
		@include max(md) {
			border-bottom: 1px solid rgba(37, 40, 49, 0.15);
		}
	}

	.pw-bank__info-top {
		@include max(md) {

			opacity: 0.5;
		}
	}

	.pw-banks-wrap__close {
		@include max(md) {
			background: url(../img/svg/banks-x-on-white.svg) no-repeat center center;
			background-size: contain;
		}
	}
}


.cards-slider-section {}


.cards-slider {
	position: relative;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}

	&__title {}

	&__controls-wrap {
		position: absolute;
		top: 0;
		right: 0;

		@include max(md) {
			position: static;
			display: flex;
			right: auto;
			top: auto;
			margin-top: 12px;
		}
	}

	&__controls-placeholder-desktop {
		display: none;

		@include min(md) {
			width: 130px;
			height: 57px;
			display: block;
		}
	}

	&__arrow {}

	&__arrow--next {}

	&__swiper-wrapper {}
}

.cards-slider-controls {}

.slider-controls {
	&__arrow--prev {}
}

.slider-controls--on-white {
	background: none;

	.slider-controls-pagination {
		color: #252831;

		&__delimiter {
			background: #252831;
			opacity: 0.5;
		}
	}

	.slider-controls__arrow {

		svg,
		svg * {
			stroke: #252831;
		}

		&:hover {
			background: #F5F5F5;
		}
	}
}

.cards-slider__swiper-wrapper {
	margin-top: 48px;
	@include min(sm){

	align-items: stretch;
	}

	@include max(md) {
		margin-top: 24px;
	}
}

.cards-slider-slide {
	@include min(sm){

	align-self: stretch;
	display: flex;
	flex-direction: column;
	height: auto;

	&>* {
		flex-grow: 1;
	}
	}
}