.ftb-slider-slide {
	///padding: 20px 0 25px;
	padding: 124px 0 129px;
	min-height: 696px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	@include max(lg) {
		padding: 80px 0 85px;
		min-height: 616px;

	}

	@include max(md) {
		justify-content: flex-end;
		padding: 20px 0 89px;

	}

	@include max(sm) {
		min-height: 160.4vw;
	}

	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;


	}

	&__bg {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img,
		video {

			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
}


.ftb-slde-info {
	border-radius: 12px;
	backdrop-filter: blur(100px);
	background: rgba(0, 0, 0, 0.15);
	padding: 34px 33px 33px;
	max-width: 100%;

	@include max(md) {
		padding: 16px;
		width: 100%;
	}

	&__title {
		font-family: $songer;
		font-weight: 800;
		font-size: 56px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;

		@include max(lg) {
			font-size: 35px;
		}

		@include max(sm) {
			font-size: 28px;
		}

		@include max(xs) {
			font-size: 26px;
		}
	}

	&__desc {
		margin-top: 24px;
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;

		@include max(lg) {
			font-style: 18px;
		}

		@include max(md) {
			margin-top: 12px;
		}

		@include max(sm) {
			font-size: 15px;
		}
	}

	&__btn-wrap {
		display: flex;
		margin-top: 23px;

		@include max(md) {
			margin-top: 12px;
			width: 100%;

			.btn {
				width: 100%;
			}
		}


	}

}






.ftb-slider__controls-wrap {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 64px;
	z-index: 4;

	@include max(lg) {
		bottom: 16px;
	}

}

.slider-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 57px;
	backdrop-filter: blur(50px);
	background: rgba(0, 0, 0, 0.15);
	border-radius: 12px;

	&__arrow {
		width: 55px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@include hov();

		&:hover {
			opacity: 1;
			background: rgba(0, 0, 0, 0.1);
		}

		svg {
			width: 7px;
			height: 11px;
		}

		&--prev {
			border-radius: 12px 0 0 12px;

			svg {
				transform: rotate(180deg);
			}
		}

		&--next {
			border-radius: 0 12px 12px 0;
		}
	}
}

.slider-controls-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #fff;

	&__delimiter {
		width: 48px;
		height: 1px;
		background: rgba(255, 255, 255, 0.5);
		display: block;
		margin: 0 8px;
	}

	&__digit {}

	&--current {}

	&--total {}

}



.filters {
	background: #273344;
	color: #fff;

}




.container--with-art-on-right {
	position: relative;

	&::after {
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		right: -40px;
		background: rgba(255, 255, 255, 0.25);

		@include max(lg) {
			right: -15px;
		}

		@include max(md) {
			right: -9px;
		}

	}

}


.container--sec-filters {
	padding-bottom: 55px;
	padding-top: 65px;

	@include max(lg) {
		padding-top: 49px;
		padding-bottom: 41px;

	}


}

.filters-art {
	display: flex;
	justify-content: flex-end;
	margin-right: -40px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	position: relative;
	height: 38px;

	@include max(lg) {
		height: 22px;
		margin-right: -15px;
		position: relative;
	}

	@include max(md) {
		margin-right: -9px;
	}

	/*img {
		opacity: 0.25;
		margin-top: 0px;

		@include max(lg) {
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: auto;

		}
	}*/


	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		//background: rgba(255, 255, 255, 0.25);
		background: rgba(255, 255, 255, 0.4);
		height: 100%;
		width: 1px;
		//transform: skew(-42deg);
		transform: skew(-45deg);
		transform-origin: 0% 0%;
	}

	&::before {
		right: 549px;


		@include max(lg) {
			right: 302px;
		}

		@include max(xs) {
			right: auto;
			left: 28px;
		}
	}

	&::after {}
}

.section-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: -0.02em;
	color: #fff;
	font-family: $songer;

	@include max(lg) {
		font-size: 26px;
	}

	@include max(xs) {
		font-size: 24px;
	}
}

.section-title--filters {}

.filters-row {
	margin-top: 32px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-left: -32px;
	position: relative;
	overflow: hidden;

	@include max(md) {
		margin-left: -16px;
		margin-bottom: -17px;
		margin-top: 24px;
	}
}

.filters-row--hidden {
	height: 121px;

	@include max(md) {
		height: 525px;
	}
}

.filters-row-item {
	width: calc(20% - 32px);
	margin-left: 32px;
	margin-bottom: 35px;
	//flex-grow: 1;

	@include max(1600) {
		width: calc(33.33% - 32px);
	}

	@include max(md) {
		margin-left: 16px;
		margin-bottom: 17px;
		width: calc(50% - 16px);
	}

	@include max(sm) {
		width: calc(100% - 16px);
	}

	&__name {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: rgba(255, 255, 255, 0.5);

		&--range {
			display: flex;
			justify-content: space-between;

			&>span {
				text-align: left;

				&~span {
					text-align: right;
				}
			}
		}
	}

	&__field {
		margin-top: 11px;

		@include max(md) {}

		margin-top: 12px;


	}
}


.filters-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -24px;

	@include max(md) {
		margin-top: 22px;
		margin-bottom: -13px;
	}

	&__left {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-right: 15px;
		margin-left: -48px;
		margin-bottom: -10px;


	}

	&__right {
		@include max(md) {
			width: 100%;
		}
	}

	&__left,
	&__right {
		margin-bottom: 24px;

		@include max(md) {
			margin-bottom: 13px;
		}
	}

}

.twi-switch--filter-sec {
	margin-left: 48px;
	margin-bottom: 10px;

	@include max(md) {
		margin-bottom: 13px;

	}

}

.twi-switch {
	display: flex;
	align-items: flex-start;
	opacity: 0.6;
	transition-duration: .3s;
	cursor: pointer;


	&:hover {
		opacity: 1;
	}

	&__icon {
		width: 22px;
		min-width: 22px;
		height: 22px;
		margin-right: 13px;
		margin-top: -2px;

		svg {
			width: 100%;
			height: 100%;
			display: block;

			transition-duration: .3s;
		}
	}

	&__name {

		color: #fff;
	}
}


.twi-switch--more-filters {
	.twi-switch__name {
		span:nth-child(2) {
			display: none;
		}
	}

	.twi-switch__icon svg {
		transform: rotate(180deg);
	}
}

.twi-switch--more-filters--opened {
	.twi-switch__name {
		span:nth-child(1) {
			display: none;
		}

		span:nth-child(2) {
			display: inline;
		}
	}

	.twi-switch__icon svg {
		transform: rotate(0deg);
	}
}

.blue-sections-bg {
	background: #1B283A;

	&::before {
		content: '';
		display: block;
		height: 1px;
	}
}

section.section-margin {
	margin-top: 160px;

	@include max(lg) {
		margin-top: 100px;
	}

	@include max(md) {
		margin-top: 64px;
	}
}

.our-projects {

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__top-left {
		margin-right: 15px;
	}

	&__top-right {
		@include max(md) {
			display: none;
		}
	}

	&__mob-btn-all-wrap {
		margin-top: 16px;

		@include min(md) {
			display: none;
		}
	}

	.showmore-wrap {
		.btn {
			@include max(md) {
				width: 100%;
			}
		}
	}
}



.our-projects-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -32px;
	margin-top: 48px;

	@include max(md) {

		margin-top: 25px;
		margin-bottom: -25px;
	}
}

a.project-card {
	@include hov();
}

.project-card {
	display: block;
	width: calc(50% - 32px);
	margin-bottom: 32px;

	@include max(lg) {
		width: calc(50% - 16px);
	}

	@include max(md) {
		width: 100%;
		margin-bottom: 25px;
	}


	&__pic {
		display: block;
		z-index: 1;
		position: relative;


		&::before {
			content: '';
			display: block;
			padding-top: 68.18181%;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			object-fit: cover;
			object-position: center center;
			border-radius: 12px;
		}
	}

	&__pic-text {
		z-index: 3;
		position: absolute;
		left: 0;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		font-weight: 500;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;
		font-family: $songer;
		padding: 10px;
		text-align: center;

		@include max(md) {
			font-size: 24px;
		}
	}

	&__labels {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		padding: 24px;
		z-index: 2;

		@include max(md) {
			padding: 8px;
		}

	}

}

.card-labels {
	display: flex;
	flex-wrap: wrap;
	margin-left: -8px;
}

.card-label {
	margin-left: 8px;
	margin-bottom: 8px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	padding: 8px 16px;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #fff;

	@include max(md) {
		font-size: 12px;
		line-height: 140%;
		padding: 5px 8px;
	}
}

.project-card-content {
	color: #fff;
	margin-top: 25px;

	@include max(md) {
		margin-top: 13px;
	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 15px;
		font-weight: 500;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		font-family: $songer;

		@include max(md) {
			font-size: 16px;
		}
	}

	&__title {}

	&__price {
		color: #aac7cf;
	}
}

.project-card-info-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
	padding-top: 15px;
	margin-bottom: -10px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);

	@include max(md) {
		margin-top: 11px;
		padding-top: 12px;
	}

	@include max(sm) {
		margin-bottom: 0;
	}
}

.project-card-info {
	width: 50%;
	flex-grow: 1;
	color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	margin-bottom: 10px;

	@include max(md) {
		font-weight: 300;
		font-size: 15px;
		line-height: 120%;
		letter-spacing: -0.02em;
	}

	@include max(sm) {
		width: 100%;
		margin-bottom: 0;
	}

	&__name {
		font-weight: 700;
	}

	&__description {
		font-weight: 300;
		margin-top: 5px;
		margin-top: 4px;

		@include max(md) {

			margin-top: 7px;
		}
	}

	@include min(sm) {
		&:nth-child(2n) {
			border-left: 1px solid rgba(255, 255, 255, 0.25);
			padding-left: 32px;

			@include max(lg) {
				padding-left: 16px;
			}
		}

		&:nth-child(2n-1) {
			padding-right: 32px;

			@include max(lg) {
				padding-right: 16px;
			}
		}
	}

	&+.project-card-info {
		@include max(sm) {

			border-top: 1px solid rgba(255, 255, 255, 0.25);
			padding-top: 14px;
			margin-top: 10px;
		}
	}

	&:last-child {
		@include max(sm) {
			padding-right: 44px;

			position: relative;

			&::after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				width: 34px;
				height: 34px;
				background: url(../img/svg/icon-arrow-in-circle-grey.svg) no-repeat center center;
				background-size: contain;
			}
		}

	}



}

.showmore-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 47px;

	@include max(md) {
		margin-top: 24px;
	}

	.btn {
		@include max(sm) {
			width: 100%;
		}
	}

}


.purchase-ways {}

.purchase-ways-flex {
	display: flex;
	justify-content: space-between;
	gap: 32px;
	margin-top: 48px;

	@include max(1279) {
		flex-direction: column;
		align-items: center;
		gap: 24px;
	}

	@include max(md) {

		margin-top: 24px;
	}

	&__main {
		width: 100%;
		max-width: calc(100% - 467px - 32px);

		@include max(1279) {
			max-width: 100%;
		}
	}

	&__side {
		width: 467px;
		display: flex;
		flex-direction: column;

		@include max(1279) {
			width: 100%;

			.purchase-way-card__pic {
				width: 467px;
				max-width: 100%;
				align-self: center;
			}
		}

		&>* {
			flex-grow: 1;
			width: 100%;
		}
	}
}
.mortage-banks-wrap{
	@include min(1279){
		height: 100%;
		width: 100%;
		position: relative;

	}
	@include max(1279){
		@include min(md){
		}
	}
	&__inner{
		@include min(1279){
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			width: calc(100% + 32px);
			height: calc(100% + 31px);
			padding-right: 32px;
		}
		@include max(1279){
			@include min(md){
				max-height: 624px;
				width: calc(100% + 32px);
				padding-right: 32px;
				margin-bottom: -31px;

			}
		}

		@include min(md){
			&:not([data-simplebar]){
				overflow: auto;
			}

		}
	}
}



.purchase-ways-form {
	padding: 32px 32px 16px;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 12px;
	color: #fff;

	@include max(md) {
		padding: 16px 16px 32px;
	}

	&--mortgage{
		padding-bottom: 32px;
		@include min(1279){
			height: 100%;

		}
		@include max(lg){
			@include min(md){
				height: auto;
			}
		}
		&--right{
			@include max(md){
				padding: 0 !important;
				background:none;
			}
		}

		@include max(md){
			.simplebar-content-wrapper,.simplebar-offset,.simplebar-mask{
				position: static;
			}
		}
		.simplebar-scrollbar:before{
			bottom: 12px;
		}

	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include max(sm) {
			flex-direction: column;
		}
	}

	&__top-left {
		margin-right: 15px;

		@include max(sm) {
			width: 100%;
			margin-right: 0;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: -0.02em;
		font-family: $songer;

		@include max(sm) {
			font-weight: 500;
			font-size: 18px;
			line-height: 110%;
			letter-spacing: -0.02em;
			color: #fff;
		}
	}

	&__desc {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
		margin-top: 8px;

		@include max(sm) {
			font-size: 15px;
			margin-top: 11px;

		}
		&--mortgage{

		}
	}

	&__top-right {
		flex-shrink: 0;

		@include max(sm) {
			width: 100%;
			margin-top: 24px;

		}
	}

	&__main {
		border-top: 1px solid rgba(255, 255, 255, 0.07);
		margin-top: 24px;
		padding-top: 24px;
	}
}


.pw-contols {}

.pw-controls {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	margin-left: -16px;
	margin-bottom: -16px;

	@include max(sm) {
		margin-bottom: -29px;
	}

	&--mortgage {
		margin-top: 32px;

		@include max(md) {
			margin-top: 24px;
		}
	}
}

.pw-control {
	width: calc(100% - 16px);
	margin-left: 16px;
	margin-bottom: 16px;
	//flex-grow: 1;

	@include max(sm) {
		margin-bottom: 29px;
	}

	&__name {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: rgba(255, 255, 255, 0.7);
	}

	&__field {
		margin-top: 4px;
	}

	&--w33 {
		width: calc(33.33% - 16px);

		@include max(sm) {
			width: calc(100% - 16px);

		}
	}

	&--w25 {
		width: calc(25% - 16px);

		@include max(sm) {
			width: calc(100% - 16px);

		}
	}

	&--md100 {
		@include max(md) {
			width: calc(100% - 16px);

		}
	}

	&--customxlg-w50 {
		@include max(1470) {
			width: calc(50% - 16px);
		}
	}

	&--1279-w33 {
		@include max(1279) {
			width: calc(33.33% - 16px);

		}
	}

	&--md-w50 {
		@include max(md) {
			width: calc(50% - 16px);
		}
	}
}


.mortgage-pw-bottom {
	display: flex;
	align-items: center;
	margin-top: 32px;


	&__btn {
		margin-right: 32px;
		@include max(1279){
			margin-right: 0;
		}
		@include max(md){
		width: 100%;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;

		@include max(1279){
			display: none;
		}
	}
}


@include max(md) {
	.pw-banks-wrap {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #1b283a;
		z-index: 99;
		display: flex;
		flex-direction: column;
		padding-bottom: 50px;
		pointer-events: none;
		opacity: 0;
		transition: opacity .3s;

		&--modal-opened {
			pointer-events: all;
			opacity: 1;
		}

		&__top,
		&__main {
			padding: 0 16px;
		}

		&__top {
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			width: 100%;
			height: 57px;
			flex-shrink: 0;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		&__close {
			display: block;
			width: 36px;
			height: 37px;
			cursor: pointer;

			background: url(../img/svg/banks-x.svg) no-repeat center center;
			background-size: contain;
			position: relative;
			margin-right: -9px;

			&::before {
				content: '';
				display: block;
				position: absolute;
				left: -10px;
				top: -10px;
				right: 0px;
				bottom: -10px;
			}

		}

		&__main {
			margin-top: 24px;
			max-height: calc(100% - 108px);
			overflow-y: auto;
		}
	}

}

.pw-banks {
	&--in-form {

		margin-top: 16px;

		@include max(md) {
			margin-top: 0;
		}
	}
	&--mortgage{
		margin-top: 0;
		.pw-bank:first-child{
			@include min(md){
				padding-top: 0;
			}
		}
		@include min(md){
			padding-top: 16px;
		}
	}
}

.pw-bank {
	color: #fff;
	display: flex;
	align-items: center;
	padding: 31px 0;

	@include max(md) {
		flex-wrap: wrap;
		padding: 16px;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 12px;
		position: relative;
	}

	&--hidden {
		display: none;
	}

	&+.pw-bank {

		border-top: 1px solid rgba(255, 255, 255, 0.07);

		@include max(md) {
			border: none;
			margin-top: 16px;
		}
	}

	&__col {
		padding-right: 15px;

		@include min(md) {

			&--name {
				display: flex;
				align-items: center;
				width: 42.65%;
			}

			&--payment {
				width: 32.5%;
			}

			&--rate {
				flex-grow: 1;
			}

			&--btn {
				padding-right: 0;
			}
		}

		@include max(md) {


			&--name {
				display: flex;
				align-items: center;
				width: 100%;
				border-bottom: 1px solid rgba(255, 255, 255, 0.15);
				margin-bottom: 16px;
				padding-bottom: 22px;
				padding-right: 40px;
				padding-top: 8px;
			}

			&--payment {
				width: 68.5%;
				padding-right: 10px;
			}

			&--rate {
				padding-right: 0;
			}

			&--btn {
				padding-right: 0;
			}

		}
	}

	&__icon {
		width: 40px;
		min-width: 40px;
		margin-right: 32px;

		@include max(md) {
			width: 25px;
			min-width: 25px;
			margin-right: 12px;
		}

		svg,
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__name {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;

		@include max(md) {
			font-size: 14px;
		}
	}

	&__info-top {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		opacity: 0.35;
	}

	&__info-bottom {
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		letter-spacing: -0.02em;

		@include max(md) {
			font-size: 15px;
			margin-top: 4px;
		}
	}


	&__btn {
		width: 40px;
		min-width: 40px;

		@include max(md) {

			position: absolute;
			right: 13px;
			top: 16px;
		}
	}
}


.pw-summary {
	margin-top: 24px;
	padding: 16px;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 12px;

	@include min(md) {
		display: none;
	}
	&--mortgage{
		margin-top: 0;
	}
}

.pw-summary-item {
	display: flex;
	justify-content: space-between;

	&__right {
		margin-left: 15px;
		flex-shrink: 0;
	}

	&__left {
		flex-grow: 1;
	}

	&__title {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: rgba(255, 255, 255, 0.35);
	}

	&__text {
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
	}

	&+.pw-summary-item {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		margin-top: 24px;
		padding-top: 24px;

	}
}

.pws-circles {
	display: flex;
}

.pws-icon {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #313d4e;
	border: 1px solid rgba(255, 255, 255, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		font-weight: 500;
		font-size: 13px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
		text-align: center;
	}

	img {
		width: 23px;
		height: 23px;
		object-fit: contain;
		object-position: center center;
	}

	&:nth-child(1) {}

	&:nth-child(2) {}

	&:nth-child(3) {}

	&+.pws-icon {
		margin-left: -14.625px;

	}
}

.pw-summary-btn {
	margin-top: 24px;
}

.purchase-way-card {
	display: flex;
	flex-direction: column;
	background: #53667f;
	border-radius: 12px;
	color: #fff;

	&__top {
		flex-grow: 1;
		padding: 32px;
		padding-bottom: 0;

		@include max(md) {
			padding: 16px;
			padding-bottom: 0;
		}
	}

	&__name {
		font-weight: 500;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: -0.02em;
		text-transform: uppercase;

		@include max(md) {
			font-size: 20px;
		}
	}

	&__desc {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		margin-top: 24px;

		@include max(md) {
			margin-top: 12px;
			font-size: 15px;
		}
	}

	&__btn-wrap {
		margin-top: 24px;
		display: flex;

		@include max(md) {
			margin-top: 16px;
		}

		@include max(sm) {
			width: 100%;

			.btn {
				width: 100%;
			}
		}
	}

	&__pic {
		margin-top: 15px;

		@include max(md) {
			margin-top: 20px;
		}

		img {
			width: 100%;
			height: auto;
		}

	}
}

.pw-bank__btn {
	display: block;
	width: 40px;
	height: 40px;
	@include hov();

	svg {
		width: 100%;
		height: 100%;
	}
}




.newssec {}


.newssec-top {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: space-between;
	align-items: center;

	&__left {}

	&__right {}
}

.newssec-main {
	margin-top: 24px;
	padding-top: 48px;

	border-top: 1px solid rgba(255, 255, 255, 0.25);

	@include max(md) {

		margin-top: 23px;
		padding-top: 24px;
	}
}


.home-about {
	margin-top: 120px;

	@include max(md) {
		margin-top: 69px;
	}
}

.home-about-flex {
	display: flex;
	justify-content: space-between;

	@include max(md) {
		display: block;
	}

	&__left {
		width: calc(47.69022% - 16px);
		display: flex;
		flex-direction: column;

		@include max(md) {
			width: 100%;
		}

	}

	&__right {
		width: calc(52.30978% - 16px);
		display: flex;
		flex-direction: column;

		@include max(md) {
			width: 100%;
			margin-top: 24px;
		}

	}
}

.home-about-pic {
	border-radius: 12px;
	flex-grow: 1;
	width: 100%;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		display: block;
		padding-top: 59.9125%;

		@include max(md) {
			padding-top: 80.8%;
		}
	}

	img {
		@include relative_img();
	}
}

.home-about-card {
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.05);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	position: relative;


	&__text {
		position: relative;
		z-index: 2;
		padding: 64px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		@include max(md) {
			padding: 16px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;
		font-family: $songer;

		@include max(md) {
			font-size: 22px;
		}

		@include max(xs) {
			font-size: 22px;
		}
	}

	&__desc {
		flex-grow: 1;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
		margin-top: 24px;
		width: 458px;
		max-width: 100%;

		@include max(md) {
			margin-top: 12px;
			font-size: 15px;
		}
	}

	&__btn {
		margin-top: 24px;

		@include max(md) {
			width: 100%;
		}
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: url(../img/svg/home-about-bg-art.svg) no-repeat center right;
		background-size: auto 100%;

		@include max(md) {
			display: none;
		}
	}

	&--no-bg {
		.home-about-card__bg {
			display: none;
		}
	}
}