.ftb-slider-slide {
	padding: 20px 0 25px;
	height: 696px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;


	}

	&__bg {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img,
		video {

			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
}


.ftb-slde-info {
	border-radius: 12px;
	backdrop-filter: blur(100px);
	background: rgba(0, 0, 0, 0.15);
	padding: 34px 33px 33px;
	max-width: 100%;

	&__title {
		font-family: $songer;
		font-weight: 800;
		font-size: 56px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;
	}

	&__desc {
		margin-top: 24px;
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
	}

	&__btn-wrap {
		display: flex;
		margin-top: 23px;
	}

}






.ftb-slider__controls-wrap {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 64px;
	z-index: 4;

}

.slider-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 57px;
	backdrop-filter: blur(50px);
	background: rgba(0, 0, 0, 0.15);
	border-radius: 12px;

	&__arrow {
		width: 55px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@include hov();

		&:hover {
			opacity: 1;
			background: rgba(0, 0, 0, 0.1);
		}

		svg {
			width: 7px;
			height: 11px;
		}

		&--prev {
			border-radius: 12px 0 0 12px;

			svg {
				transform: rotate(180deg);
			}
		}

		&--next {
			border-radius: 0 12px 12px 0;
		}
	}
}

.slider-controls-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #fff;

	&__delimiter {
		width: 48px;
		height: 1px;
		background: rgba(255, 255, 255, 0.5);
		display: block;
		margin: 0 8px;
	}

	&__digit {}

	&--current {}

	&--total {}

}



.filters {
	background: #273344;
	color: #fff;

}


.container--sec-filters {
	position: relative;
	padding-bottom: 55px;
	padding-top: 65px;

	&::after {
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		right: -40px;
		background: rgba(255, 255, 255, 0.25);

	}
}

.filters-art {
	display: flex;
	justify-content: flex-end;
	margin-right: -40px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);

	img {
		opacity: 0.25;
		margin-top: 0px;
	}
}

.section-title {
	font-weight: 500;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: -0.02em;
	color: #fff;
	font-family: $songer;
}

.section-title--filters {}

.filters-row {
	margin-top: 32px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-left: -32px;
	position: relative;
	overflow: hidden;

}

.filters-row--hidden {
	height: 121px;
}

.filters-row-item {
	width: calc(20% - 32px);
	margin-left: 32px;
	margin-bottom: 35px;

	&__name {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: rgba(255, 255, 255, 0.5);

		&--range {
			display: flex;
			justify-content: space-between;

			&>span {
				text-align: left;

				&~span {
					text-align: right;
				}
			}
		}
	}

	&__field {
		margin-top: 11px;


	}
}


.filters-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__left {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-right: 15px;
		margin-left: -48px;
		margin-bottom: -10px;


	}

	&__right {}
}

.twi-switch--filter-sec {
	margin-left: 48px;
	margin-bottom: 10px;
}

.twi-switch {
	display: flex;
	align-items: center;
	opacity: 0.6;
	transition-duration: .3s;
	cursor: pointer;


	&:hover {
		opacity: 1;
	}

	&__icon {
		width: 22px;
		min-width: 22px;
		height: 22px;
		margin-right: 13px;

		svg {
			width: 100%;
			height: 100%;
			display: block;

			transition-duration: .3s;
		}
	}

	&__name {

		color: #fff;
	}
}


.twi-switch--more-filters {
	.twi-switch__name {
		span:nth-child(2) {
			display: none;
		}
	}
}

.twi-switch--more-filters--opened {
	.twi-switch__name {
		span:nth-child(1) {
			display: none;
		}

		span:nth-child(2) {
			display: inline;
		}
	}

	.twi-switch__icon svg {
		transform: rotate(180deg);
	}
}

.blue-sections-bg {
	background: #1B283A;

	&::before {
		content: '';
		display: block;
		height: 1px;
	}
}

.section-margin {
	margin-top: 160px;
}

.our-projects {

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__top-left {
		margin-right: 15px;
	}

	&__top-right {}
}



.our-projects-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -32px;
	margin-top: 48px;
}
a.project-card{
	@include hov();
}
.project-card {
	width: calc(50% - 32px);
	margin-bottom: 32px;

	&__pic {
		display: block;
		z-index: 1;
		position: relative;


		&::before {
			content: '';
			display: block;
			padding-top: 68.18181%;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			object-fit: cover;
			object-position: center center;
			border-radius: 12px;
		}
	}

	&__pic-text {
		z-index: 3;
		position: absolute;
		left: 0;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		font-weight: 500;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;
		font-family: $songer;
		padding: 10px;
		text-align: center;
	}

	&__labels {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		padding: 24px;
		z-index: 2;

	}

}

.card-labels {
	display: flex;
	flex-wrap: wrap;
	margin-left: -8px;
}

.card-label {
	margin-left: 8px;
	margin-bottom: 8px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	padding: 8px 16px;
	font-weight: 700;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #fff;
}

.project-card-content {
	color: #fff;
	margin-top: 25px;

	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-weight: 500;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		font-family: $songer;
	}

	&__title {
		margin-right: 10px;
	}

	&__price {
		color: #aac7cf;
	}
}

.project-card-info-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
	padding-top: 15px;
	margin-bottom: -10px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.project-card-info {
	width: 50%;
	flex-grow: 1;
	color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	margin-bottom: 10px;

	&__name {
		font-weight: 700;
	}

	&__description {
		font-weight: 300;
		margin-top: 5px;
		margin-top: 4px;
	}

	&:nth-child(2n) {
		border-left: 1px solid rgba(255, 255, 255, 0.25);
		padding-left: 32px;
	}

	&:nth-child(2n-1) {
		padding-right: 32px;
	}

}

.showmore-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 47px;

}


.purchase-ways {}

.purchase-ways-flex {
	display: flex;
	justify-content: space-between;
	margin-top: 48px;

	&__main {
		width: 100%;
		max-width: calc(100% - 467px - 32px);
		padding: 32px 32px 16px;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 12px;
	}

	&__side {
		width: 467px;
		margin-left: 32px;
		display: flex;
		flex-direction: column;

		&>* {
			flex-grow: 1;
			width: 100%;
		}
	}
}

.purchase-ways-form {

	color: #fff;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__top-left {
		margin-right: 15px;
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: -0.02em;
		font-family: $songer;
	}

	&__desc {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
		margin-top: 8px;
	}

	&__top-right {}

	&__main {
		border-top: 1px solid rgba(255, 255, 255, 0.07);
		margin-top: 24px;
		padding-top: 24px;
	}
}


.pw-contols {}

.pw-controls {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	margin-left: -16px;
	margin-bottom: -16px;
}

.pw-control {
	width: calc(100% - 16px);
	margin-left: 16px;
	margin-bottom: 16px;

	&__name {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: rgba(255, 255, 255, 0.7);
	}

	&__field {
		margin-top: 4px;
	}
}

.pw-control--w33 {
	width: calc(33.33% - 16px);
}

.pw-banks {
	&--in-form {

		margin-top: 16px;
	}
}

.pw-bank {
	color: #fff;
	display: flex;
	align-items: center;
	padding: 31px 0;

	&+.pw-bank {

		border-top: 1px solid rgba(255, 255, 255, 0.07);
	}

	&__col {
		padding-right: 15px;

		&--name {
			display: flex;
			align-items: center;
			width: 42.65%;
		}

		&--payment {
			width: 32.5%;
		}

		&--rate {
			flex-grow: 1;
		}

		&--btn {
			padding-right: 0;
		}
	}

	&__icon {
		width: 40px;
		min-width: 40px;
		margin-right: 32px;

		svg,
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__name {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
	}

	&__info-top {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		opacity: 0.35;
	}

	&__info-bottom {
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		letter-spacing: -0.02em;
	}


	&__btn {
		width: 40px;
		min-width: 40px;
	}
}

.purchase-way-card {
	display: flex;
	flex-direction: column;
	background: #53667f;
	border-radius: 12px;
	color: #fff;

	&__top {
		flex-grow: 1;
		padding: 32px;
		padding-bottom: 0;
	}

	&__name {
		font-weight: 500;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: -0.02em;
		text-transform: uppercase;
	}

	&__desc {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		margin-top: 24px;
	}

	&__btn-wrap {
		margin-top: 24px;
		display: flex;
	}

	&__pic {
		margin-top: 15px;

		img {
			width: 100%;
			height: auto;
		}

	}
}

.pw-bank__btn {
	display: block;
	width: 40px;
	height: 40px;
	@include hov();

	svg {
		width: 100%;
		height: 100%;
	}
}




.newssec {}


.newssec-top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__left {}

	&__right {}
}

.newssec-main {
	margin-top: 24px;
	padding-top: 48px;

	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.newssec-grid {
	display: flex;
	flex-wrap: wrap;


	&--front {

		margin-left: -32px;
		margin-bottom: -32px;
	}
}

.news-card {
	&--front {
		width: calc(33.33% - 32px);
		margin-left: 32px;
		margin-bottom: 32px;
	}

	&__pic {
		border-radius: 12px;
		overflow: hidden;
		position: relative;

		&::before {
			content: '';
			display: block;
			padding-top: 80.8510%;
		}

		img {
			@include relative_img();
		}
	}

	&__text-over-pic {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		font-weight: 700;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;
		padding: 32px;
		font-family: $songer;
	}

	&__text {
		margin-top: 32px;
	}

	&__title {
		font-weight: 500;
		font-size: 20px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;
		font-family: $songer;
	}

	&__desc {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: rgba(255, 255, 255, 0.8);
		margin-top: 16px;
	}
}


.home-about {
	margin-top: 120px;
}

.home-about-flex {
	display: flex;
	justify-content: space-between;

	&__left {
		width: calc(47.69022% - 16px);
		display: flex;
		flex-direction: column;
	}

	&__right {
		width: calc(52.30978% - 16px);
		display: flex;
		flex-direction: column;
	}
}

.home-about-pic {
	border-radius: 12px;
	flex-grow: 1;
	width: 100%;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		display: block;
		padding-top: 59.9125%;
	}

	img {
		@include relative_img();
	}
}

.home-about-card {
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.05);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;

	position: relative;

	&__text {
		position: relative;
		z-index: 2;
		padding: 64px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__title {
		font-weight: 500;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;
		font-family: $songer;
	}

	&__desc {
		flex-grow: 1;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
		margin-top: 24px;
		width: 458px;
		max-width: 100%;
	}

	&__btn {
		margin-top: 24px;
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: url(../img/svg/home-about-bg-art.svg) no-repeat center right;
		background-size: auto 100%;
	}
}