.simple-select2-wrap--simple-select {
    .select2.select2-container--custom-theme .select2-selection--single {
        padding-left: 6px;
    }

    .select2.select2-container--custom-theme .select2-selection__arrow {
        background-size: 22px auto;
    }
}

.select2.select2-container--custom-theme {
    text-transform: none;

    .selection {}

    .selection {}

    .select2-selection--single {
        padding: 17px 0 17px 0;
        //min-width: 170px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 860px) {
            padding: 20px 16px 20px 46px;
        }

        .select2-selection__rendered {
            padding: 5px 0 3px 0;
            margin-right: 18px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            display: block;
            border-bottom: 2px solid #CFEDFF;

        }
    }

    .select2-selection__arrow {
        width: 22px;
        height: 12px;
        background: url(https://cdn-icons-png.flaticon.com/512/2722/2722987.png) no-repeat center center;
        background-size: contain;
        transition-duration: .3s;

        b {
            display: none;
        }
    }

    &.select2-container--open {
        .select2-selection__arrow {
            transform: rotateX(-180deg);
        }

        /*.select2-selection--single .select2-selection__rendered {
			border-color: rgba(255,255,255,0);
		}*/

    }

    .dropdown-wrapper {}



}

.select2-dropdown {
    background: #CFEDFF;
    border-radius: 0px !important;
    border: none !important;
    padding: 10px 20px 11px 8px;
    margin-top: -2px;
}

.select2-results__options {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 0;

}

.select2-results__option {
    transition: all .3s;
    color: #000000;
    opacity: .4;
    padding: 0;

    &:hover,
    &[aria-selected="true"] {
        opacity: 1;
    }
}

.simple-select2-items-wrapper {}



.select2-container--custom-theme {
    transition: opacity .3s;

    &.select2-container--open {
        opacity: 1;
    }
}

.simple-select2--placeholder-selected {
    &+.select2-container--custom-theme {
        //	opacity: .6;
    }
}

.simple-select2-items-wrapper {
    opacity: 0;
    transition: opacity .3s;
    position: relative;
    z-index: 99;

    &--show {
        opacity: 1;
    }
}


.chb-group {
    display: flex;
    margin-left: -4px;

    &--fg {
        .chb-item {

            flex-grow: 1;
        }

    }
}

.chb-item {
    margin-left: 4px;

    input {
        display: none;

        &:checked~.chb-item__pseudo {
            border-color: rgba(255, 255, 255, 0.2);
            background: #53667f;
        }
    }

    &__pseudo {
        border-radius: 8px;
        padding: 17px 5px;
        min-height: 56px;
        border: 1px solid rgba(255, 255, 255, 0.0);
        background: rgba(255, 255, 255, 0.15);
        transition-duration: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.08);
            border-color: rgba(255, 255, 255, 0.2);

        }
    }
}


.rs-block {
    width: 100%;
    position: relative;

    &__top {
        border-radius: 10px;
        height: 56px;
        width: 100%;
        background: rgba(255, 255, 255, 0.15);
        display: flex;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -11px;
            height: 22px;
            width: 1px;
            background: #808080;
        }
    }

    &__inp {
        display: block;
        width: 50%;
        min-height: 100%;
        padding: 10px 10px 10px 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #fff;
    }

    &__inp-left {
        border-radius: 10px 0 0 10px;

    }

    &__inp-right {
        border-radius: 0 10px 10px 0;
    }

    &__bottom {
        position: absolute;
        bottom: -1px;
        left: 30px;
        width: calc(100% - 60px);
        height: 2px;
    }

    &__rs {
        background: none;
        box-shadow: none;
        border: none;
        height: 2px;
        .noUi-connect{
            background:  #8acde5;
        }
        .noUi-handle {
            cursor: pointer;
            &:after, &:before{
                display: none;
            }
        }

        &.noUi-horizontal .noUi-handle {
            width: 28px;
            height: 16px;
            right: -14px;
            top: -7px;
            border: 2px solid #8acde5;
            background: #fff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);
            border-radius: 100px;
        }
    }

}

.rs-block__bottom {
    .rs-block__rs.js-range-slider__range.noUi-target.noUi-ltr.noUi-horizontal.noUi-txt-dir-ltr {
        .noUi-base {
            .noUi-connects {}

            .noUi-origin {}

            .noUi-connect {}

            .noUi-handle.noUi-handle-upper {
                .noUi-touch-area {}
            }

            .noUi-handle.noUi-handle-lower {
                .noUi-touch-area {}
            }
        }
    }
}