.pftb-info {
	background: #2a2c37;
	padding: 64px 0;
}

.pftb-info-flex {
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	display: flex;
	gap: 32px;
	padding-top: 16px;
	margin-left: -32px;

}

.pftb-info-item {
	width: calc((100% + 32px - 32px * 5) / 6);

	&:not(:first-child) {
		border-left: 1px solid rgba(255, 255, 255, 0.25);
		padding-left: 32px;
	}

	&:first-child {
		padding-left: 32px;
	}

	&__name {
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
	}

	&__val {
		margin-top: 6px;
		font-weight: 300;
		font-size: 18px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: rgba(255, 255, 255, 0.8);
	}
}


















.benefit-card {
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
	min-height: 560px; //мб переделать в pt calc(100vw -....
	border-radius: 12px;
	overflow: hidden;

	&__pic {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;

		img {
			@include relative_img;
		}

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 2;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
			opacity: 0.75;

		}
	}

	&__text {
		position: relative;
		z-index: 2;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		width: 452px;
		padding: 32px;
		max-width: 100%;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;

	}

	&__desc {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: rgba(255, 255, 255, 0.8);
		margin-top: 24px;
	}
}

.subscribe-section {}


.subscribe-block {
	background-color: #263344;
	background-image: url(../img/subscribe-bg-k.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center center;
	padding: 32px 32px 64px;
	border-radius: 12px;

	display: flex;
	justify-content: space-between;
	gap: 24px;
	flex-wrap: wrap;

	&__left {}

	&__title {
		width: 532px;
		max-width: 100%;
		font-weight: 500;
		font-size: 24px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #fff;
		font-family: $songer;
	}

	&__right {
		width: 529px;
		max-width: 100%;
	}
}

.subscribe-form {

	&__inputs {
		display: flex;
		gap: 24px;
	}

	&__input {
		flex-grow: 1;
	}

	&__privacy-text {
		margin-top: 32px;
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #fff;
		opacity: 0.5;

		a {
			text-decoration: underline;
			text-decoration-skip-ink: none;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.genplan-section {}


.genplan-sec-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;

	&__left {}

	&__right {}
}

.genplan-desctipton {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #252831;

	&__icon {
		padding-left: 34px;
	}

	&__text {}
}

.genplan-wrap {
	display: flex;
	justify-content: center;
	margin-top: 48px;
	position: relative;

}

.genplan-wrap-inner {
	display: flex;
	justify-content: center;
	width: 100%;

	@include max(md) {
		overflow-x: auto;
		max-width: 100%;
	}
}

.genplan-block {
	position: relative;


	&__pic {}

	&__icons {
		pointer-events: none;
	}

	&__infos {
		pointer-events: none;

		&--mobile {
			@include min(md) {
				display: none;
			}
		}

		&--desktop {
			@include max(md) {
				.genplan-icon {
					display: none !important;
				}
			}
		}
	}

	&:hover {
		@supports selector(:has(+ *)) {
			&:has(.genplan-icon--active, .genplan-info:hover) .genplan-icon:not(.genplan-icon--active) {
				z-index: 2;
			}

		}

		@supports not selector(:has(+ *)) {
			.genplan-icon:not(.genplan-icon--active) {
				z-index: 2;
			}
		}
	}
}


.genplan-icon {
	position: absolute;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(12px);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	pointer-events: all;
	z-index: 4;

	&__pic {
		width: 64px;
		height: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #41b1d9;
		border-radius: 50%;

		img {
			width: 40px;
			height: auto;

		}
	}

	&--active {
		&+.genplan-info {
			@include min(md) {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
}


.genplan-info {
	pointer-events: all;
	z-index: 3;
	position: absolute;
	content: '';
	display: block;
	transform: translate(-50%, 0);
	width: 374px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.16), 0 0 4px 0 rgba(0, 0, 0, 0.04);
	border-radius: 12px;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	transition-duration: .3s;

	&:hover {
		opacity: 1;
		pointer-events: all;
	}

	@include max(md) {
		position: absolute;
		left: 50% !important;
		top: 50% !important;
		z-index: 5 !important;
		transform: translate(-50%, -50%);
	}

	&--on-top {
		transform: translate(-50%, -100%);
	}

	&__text {
		padding: 48px 32px 32px 32px;
		background: #fff;

		&--simple {
			padding: 32px 32px 48px 32px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 20px;
		line-height: 110%;
		letter-spacing: -0.02em;
		color: #252831;
		font-family: $songer;
		text-transform: uppercase;
	}

	&__desc {
		margin-top: 12px;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: rgba(37, 40, 49, 0.5);

		&--simple {
			color: #252831;
			opacity: 0.8;
		}
	}

	&__props {
		margin-top: 24px;
		padding-top: 24px;
		border-top: 1px solid rgba(37, 40, 49, 0.1);
	}

	&__btn-wrap {
		margin-top: 24px;
		width: 100%;
	}

	&__btn {}

	&__picture {}

	&--active {
		@include max(md) {
			opacity: 1;
			pointer-events: all;
		}
	}
}

.genplan-info-props {}

.genplan-info-prop {

	display: flex;
	justify-content: space-between;
	gap: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: -0.02em;
	color: #252831;

	&__name {
		color: rgba(37, 40, 49, 0.5);
	}

	&__val {}

	&+.genplan-info-prop {
		margin-top: 12px;
	}
}


.apartment-plans {
	margin-top: 48px;
	display: flex;
	gap: 32px;


	&__left {
		width: 541px;
		display: flex;
		flex-direction: column;
	}

	&__right {
		width: calc(100% - 32px - 541px);
		display: flex;
		flex-direction: column;
	}
}

.apartment-plans-thumbs {
	border-radius: 12px;
	border: 1px solid rgba(37, 40, 49, 0.25);
	width: 100%;
	flex-grow: 1;
}

.apartment-plans-thumb {
	display: none;
	position: relative;
	cursor: pointer;


	input {
		display: none;

		&:checked~.apartment-plans-thumb__inner {
			pointer-events: none;

			.apartment-plans-thumb__indicator::after {
				opacity: 1 !important;
			}
		}

	}

	&__inner {
		padding: 32px;
		display: flex;
		transition-duration: .3s;
		&:hover {
			opacity: .7;
		}

	}

	&__pic {
		margin-right: 48px;
		width: 171px;
		flex-shrink: 0;
		img {
			width: 100%;
			height: auto;
		}
	}

	&__text {}

	&__name {
		font-weight: 500;
		font-size: 24px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #252831;
		padding-right: 38px;
	}

	&__desc {
		margin-top: 12px;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #53667f;
	}

	&__indicator {
		width: 28px;
		height: 28px;
		border-radius: 50%;
		border: 2px solid #53667f;
		position: absolute;
		right: 32px;
		top: 32px;

		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background: #53667f;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			opacity: 0;
			transition-duration: .3s;
		}
	}

	&--active {
		display: block;

		&~.apartment-plans-thumb--active {
			border-top: 1px solid rgba(37, 40, 49, 0.25);
		}
	}
}


.aplans-info-slider {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}
.aplans-info-slider__controls-wrap{
	display: none;
}
.aplans-info-slider-slide{
	&--disabled{
		display: none !important;
	}
	&.swiper-slide-visible{
		pointer-events: all;
	}
}
.apartment-plans-info {
	display: none;
	padding: 32px;
	background: #F5F5F6;
	border-radius: 12px;
	flex-wrap: wrap;
	flex-grow: 1;

	&__text {
		min-width: 155px;
		width: 155px;
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #252831;
	}

	&__props {
		margin-top: 32px;
	}

	&__picture {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 48px;


		img {
			max-width: 100%;
			max-height: 514px;
			object-fit: contain;
			object-position: center center;
		}
	}

	&__bottom {
		margin-top: 28px;
		display: flex;
		align-items: flex-end;
		width: 100%;
	}

	&--active {
		display: flex;
	}
}


.aplansi-props {}

.aplansi-prop {

	&__name {
		font-weight: 300;
		font-size: 14px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #252831;
		opacity: 0.8;
	}

	&__val {
		margin-top: 12px;
		font-weight: 600;
		font-size: 16px;
		line-height: 140%;
		letter-spacing: -0.02em;
		color: #252831;
	}

	&+.aplansi-prop{
		margin-top: 24px;
	}
}